.breadcrumbs-wrapper {
    .breadcrumbs-item:after {
        content: "";

        mask: url(./img/icons/chevron-right-icon.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        right: 0;
        width: 8px;
        height: 18px;
        display: inline-block;
        margin-left: 8px;
        margin-right: 8px;
        background-color: #6f40dd;
        opacity: 0.5;
    }
    .breadcrumbs-item:last-child::after{
        display: none;
    }
}
