.cabinet-data {
    &-form {
        .buttons-block {
            .button-wrapper {
                display: none;
            }
            &.active {
                .button-edit {
                    display: none;
                }
                .button-wrapper {
                    display: flex;
                    align-items: center;
                }
            }
        }
        .input {
            border: 1px solid rgba(46, 46, 46, 0.2);
            background: #fff;
            outline: 0;

            &[readonly="true"] {
                background: rgba(111, 64, 221, 0.04);
                border-color: rgba(111, 64, 221, 0.04);
            }
        }
        .toggle-password{
          
            .icon-hide{
              display: none;
            }
            &.active{
              .icon-show{
                display: none;
              }
              .icon-hide{
                display: block;
              }
            }
          }
          .password{
            .toggle-password{
              display: none;
        
            }
            &.active{
              .toggle-password{
                display: block;
              }
            }
          }
    }
}
