<div class="card-item flex flex-col relative p-2 bg-white border border-[#dedfe1] rounded-lg">
	<div class="flex items-end justify-center overflow-hidden mb-2 mt-8 aspect-square">
		<img src="img/main/item1.png" alt="" class="w-full h-full object-contain">
	</div>
	<div class="badges flex flex-col items-start absolute left-0 top-2">
		<div class="mb-1 text-xs py-1 px-3  rounded-sm md:rounded-s-none text-white bg-violet-600 ">Новинка</div>
		<div class="mb-1 text-xs py-1 px-3  rounded-sm md:rounded-s-none text-white bg-sky-500">ТОП</div>
		<div class="mb-1 text-xs py-1 px-3  rounded-sm md:rounded-s-none text-white bg-pink-500">Акція</div>
	</div>
	<div class="additional flex flex-col md:flex-row absolute top-2 right-3 ">
		<a href="" class="w-6 h-6 md:w-8 md:h-8 flex items-center justify-center md:me-3 ">
			<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-violet-600 object-contain w-full h-full">
				<g clip-path="url(#clip0_2240_769)">
					<path d="M26.0017 16.7629L16.0017 26.6669L6.0017 16.7629C5.34211 16.1211 4.82256 15.3496 4.47577 14.4971C4.12897 13.6446 3.96245 12.7295 3.98669 11.8095C4.01092 10.8895 4.22539 9.98442 4.61658 9.15135C5.00777 8.31829 5.56722 7.57524 6.25969 6.96901C6.95215 6.36278 7.76264 5.90649 8.64012 5.62888C9.51759 5.35127 10.443 5.25835 11.3582 5.35597C12.2733 5.45359 13.1584 5.73965 13.9575 6.19611C14.7567 6.65258 15.4527 7.26957 16.0017 8.00824C16.5531 7.27493 17.2499 6.66333 18.0485 6.21171C18.8471 5.76009 19.7304 5.47817 20.6429 5.3836C21.5555 5.28902 22.4778 5.38383 23.3521 5.66209C24.2263 5.94035 25.0337 6.39607 25.7238 7.00072C26.4138 7.60537 26.9716 8.34595 27.3623 9.17609C27.7529 10.0062 27.968 10.9081 27.9941 11.8252C28.0202 12.7423 27.8567 13.6549 27.5139 14.5059C27.171 15.3569 26.6562 16.128 26.0017 16.7709" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"></path>
				</g>
				<defs>
					<clipPath id="clip0_2240_769">
						<rect width="32" height="32" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>
		</a>
		<a href="" class="w-6 h-6 md:w-8 md:h-8 flex items-center justify-center ">
			<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="object-contain w-full h-full">
				<path d="M20.4805 8.41016H27.4805" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"></path>
				<path d="M4.59766 8.41016H11.5977" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"></path>
				<path d="M13.2813 22.7741C13.2813 26.6862 10.5949 29.8574 7.28122 29.8574C3.96753 29.8574 1.28125 26.6862 1.28125 22.7741M13.2813 22.7741H1.28125M13.2813 22.7741L7.28122 12.8574L1.28125 22.7741" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"></path>
				<path d="M30.9961 22.7741C30.9961 26.6862 28.3098 29.8574 24.9961 29.8574C21.6824 29.8574 18.9961 26.6862 18.9961 22.7741M30.9961 22.7741H18.9961M30.9961 22.7741L24.9961 12.8574L18.9961 22.7741" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"></path>
				<path d="M15.9844 11.5234C18.1935 11.5234 19.9844 9.73258 19.9844 7.52344C19.9844 5.3143 18.1935 3.52344 15.9844 3.52344C13.7752 3.52344 11.9844 5.3143 11.9844 7.52344C11.9844 9.73258 13.7752 11.5234 15.9844 11.5234Z" stroke="#6F40DD"></path>
			</svg>
		</a>
	</div>
	<div class="flex justify-between items-center mb-2 gap-3">
		<div class="flex">
			<div class="flex items-center justify-center w-3 h-3 me-[1]">
				<img src="img/icons/star-filled.svg" alt="" class="w-full h-auto">
			</div>
			<div class="flex items-center justify-center w-3 h-3 me-[1]">
				<img src="img/icons/star-filled.svg" alt=" " class="w-full h-auto">
			</div>
			<div class="flex items-center justify-center w-3 h-3 me-[1]">
				<img src="img/icons/star-filled.svg" alt="" class="w-full h-auto">
			</div>
			<div class="flex items-center justify-center w-3 h-3 me-[1]">
				<img src="img/icons/star-filled.svg" alt="" class="w-full h-auto">
			</div>
			<div class="flex items-center justify-center w-3 h-3 me-[1]">
				<img src="img/icons/star-semi-filled.svg" alt="" class="w-full h-auto">
			</div>
		</div>

		<div class="flex items-center">
			<img src="img/icons/message-icon.svg" alt="" class="w-4 h-auto shrink-0 me-1">
			<div class="text-xs font-light">8</div>
		</div>
	</div>
	<a href="" class="text-xs font-medium mb-2 h-[3em]  line-clamp-2 overflow-ellipsis leading-normal" data-attr="М'ЯКА ІГРАШКА ПАЛЬЧИКОВИЙ ЛАБІРИНТ РАДУГА М'ЯКА ІГРАШКА ПАЛЬЧИКОВИЙ ЛАБІРИНТ РАДУГА">М'ЯКА
		                            ІГРАШКА ПАЛЬЧИКОВИЙ ЛАБІРИНТ РАДУГА
	</a>
	<div class="flex justify-between items-center gap-2 mb-2">
		<div class="flex flex-col">
			<div class="text-[11] md:text-base font-medium mt-2 mb-3 md:mb-4">
				<span>599
				</span>грн</div>
		</div>
		<div class="text-teal-500 text-[8px] md:text-xs">В наявності</div>
	</div>
	<div class="grid gap-2 ipad:grid-cols-[auto,auto] mt-auto">
		<button class="button button-click text-xxs 2xl:text-sm text-x px-2 py-[6] ">Придбати в один клік</button>
		<button class="button-basket h-9 md:h-auto  active">
			<span class="ipad:hidden text-nowrap font-medium text-white">У кошик</span>
			<i class="basket-icon w-4 md:w-8 h-4 md:h-8 block bg-no-repeat bg-contain bg-center" style="background-image: url(./img/icons/basket-green-icon.svg);" ></i>
			<i class="check-icon w-4 md:w-8 h-4 md:h-8 block bg-no-repeat bg-contain bg-center" style="background-image: url(./img/icons/check-icon.svg);" ></i>
		</button>
	</div>
</div>
