{% extends 'layouts/main.twig' %}
{% block content %}
	<div class="main-container">
		<div class="tablet-catalog-button button inline-flex xl:hidden text-base md:text-lg px-8 py-2 md:py-3 mb-0 md:mb-2 w-full">
			<img src="img/icons/category-icon.svg" alt="" class="me-2 md:me-3 w-6 md:w-8 h-6 md:h-8 shrink-0">Каталог
																																																																																																					                    товарів
		</div>
	</div>
	<div class="pt-10 md:pt-14 ipad:pt-12 pb-2 md:pb-4 ipad:pb-6">
		<div class="main-container">
			<div class="success-page-inner">
				<h1 class="text-xl md:text-2xl xl:text-[32px] mb-2 md:mb-4 xl:mb-8 font-medium text-center">Ласкаво просимо, Вікторія Маринчук!</h1>
				
				<div class="max-w-[817px] mx-auto mb-3 md:mb-4 ipad:mb-8 md:text-xl ipad:text-2xl text-center">
					Ви успішно зареєструвалися на Toys4you.com.
										                    Для підтвердження пошти ми надіслали Вам листа на вказаний E-mail.            Будь ласка, перейдіть за посиланням, щоб підтвердити пошту.</div>

				<div class="max-w-[335px] md:max-w-[504px] ipad:max-w-[542px] w-full mx-auto flex justify-center items-center">
					<img src="./img/mail-sent.png" alt="" class="w-full h-full object-contain">
				</div>
			</div>
		</div>

	</div>

{% endblock %}
