{% extends 'layouts/main.twig' %}
{% block content %}
	<div class="main-container">
		<div class="tablet-catalog-button button inline-flex xl:hidden text-base md:text-lg px-8 py-2 md:py-3 mb-0 md:mb-2 w-full">
			<img src="img/icons/category-icon.svg" alt="" class="me-2 md:me-3 w-6 md:w-8 h-6 md:h-8 shrink-0">Каталог
																																																																																																		                    товарів
		</div>
	</div>
	<div class="breadcrumbs-wrapper pb-2 ipad:pb-4">
		<div class="main-container">
			<ul class="breadcrumbs flex flex-wrap pt-6 items-center ">
				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1">
					<a href="" class=""><img src="img/icons/home-icon.svg" alt="" class="text-violet-600 ">
					</a>
				</li>
				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1 text-violet-600 opacity-50 hover:opacity-100 ease-in-out duration-300">
					<a href="">Мультигерої
					</a>
				</li>
				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1 text-violet-600">
					<a href="">Великі набори для хлопчиків
					</a>
				</li>
			</ul>
		</div>
	</div>
	<section class="catalog">
		<div class="main-container">
			<h1 class="font-medium mb-4 md:mb-5 xl:mb-8 pt-2 text-xl md:text-2xl xl:text-[32px]">
				Великі набори для хлопчиків
			</h1>
			<div class="flex gap-5 flex-col lg:flex-row  items-start">
				
				  <aside class="filter-block shadow-[4px_4px_15px_0px_rgba(46,46,46,0.10);] ipad:rounded-2xl duration-300 ease-in-out  bg-gray-950 ipad:bg-white bg-opacity-40 ipad:bg-opacity-100 ipad:me-2 xl:me-5 w-full ipad:w-[230px] xl:w-[253px] h-full ipad:h-auto  shrink-0">
                    <div class="filter-block-inner">
                       
                        <div>
                            <div class="flex items-center pt-5 md:pt-10 ipad:pt-5 pe-5 md:pe-7 ipad:pe-4 ps-5 md:ps-10 ipad:ps-4 pb-2 ">
                                <div class="text-xl md:text-2xl font-medium me-5  md:me-16 ipad:me-0">
                                    Фільтр
                                </div>
                                <div class="ipad:hidden text-sm  md:text-lg underline text-teal-500 ">
                                    Скинути всі фільтри
                                </div>
                                <div class="close-button">

                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-title relative cursor-pointer pb-4  pe-11 md:pe-16  ipad:pe-7  ps-5 md:ps-10 ipad:ps-4  ipad:text-xl font-medium">Ціна</div>
                                <div class="accordion-content ps-5 md:ps-10 ipad:ps-4 pe-5 md:pe-7 ipad:pe-4  py-0">
                                    <div class="price-range">
                                        <div class="price-input">
                                            <div class="field" data-attr="від">
                                                <input type="number" class="input-min" value="2500">
                                            </div>
                                            <div class="field" data-attr="до">
                                                <input type="number" class="input-max" value="7500">
                                            </div>
                                        </div>
                                        <div class="slider">
                                            <div class="progress"></div>
                                        </div>
                                        <div class="range-input">
                                            <input type="range" class="range-min" min="0" max="10000" value="2500"
                                                   step="100">
                                            <input type="range" class="range-max" min="0" max="10000" value="7500"
                                                   step="100">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-content ps-5 md:ps-10 ipad:ps-4 pe-5 md:pe-7 ipad:pe-4  py-0">
                                    <ul class="catalog-links">
                                        <li class="catalog-links-item"><a href="">Все результаты</a>
                                            <div class="quantity">35</div>
                                        </li>
                                        <li class="catalog-links-item">
                                            <a href="https://toys4you.centum-test.site/igrovye-nabory-dlia-detei">Игровые наборы для детей</a>
                                            <div class="quantity">35</div>
                                        </li>
                                        <ul>
                                            <li class="catalog-links-item">
                                                <a href="https://toys4you.centum-test.site/brelki">Брелки</a>
                                                <div class="quantity">35</div>
                                            </li>
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                        </ul>
                                        <!--[if ENDBLOCK]><![endif]-->
                                        <li class="catalog-links-item">
                                            <a href="https://toys4you.centum-test.site/multgeroi">Мультгерои</a>
                                            <div class="quantity">1</div>
                                        </li>
                                        <ul>
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <li class="catalog-links-item">
                                                <a href="https://toys4you.centum-test.site/supergeroi">Супергерои</a>
                                                <div class="quantity">1</div>
                                            </li>
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                        </ul>
                                        <!--[if ENDBLOCK]><![endif]-->
                                        <li class="catalog-links-item">
                                            <a href="https://toys4you.centum-test.site/igruski-miagkie">Игрушки мягкие</a>
                                            <div class="quantity">2</div>
                                        </li>
                                        <ul>
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <li class="catalog-links-item">
                                                <a href="https://toys4you.centum-test.site/brelki-miagkie">Брелки мягкие</a>
                                                <div class="quantity">1</div>
                                            </li>
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <li class="catalog-links-item">
                                                <a href="https://toys4you.centum-test.site/miagkaia-multiasnaia">Мягкая мультяшная</a>
                                                <div class="quantity">1</div>
                                            </li>
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                        </ul>
                                        <!--[if ENDBLOCK]><![endif]-->
                                        <li class="catalog-links-item">
                                            <a href="https://toys4you.centum-test.site/kukly-i-nabory-dlia-kukol">Куклы и наборы для кукол</a>
                                            <div class="quantity">2</div>
                                        </li>
                                        <ul>
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <li class="catalog-links-item">
                                                <a href="https://toys4you.centum-test.site/kukly-malenkie">Куклы маленькие</a>
                                                <div class="quantity">1</div>
                                            </li>
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <li class="catalog-links-item">
                                                <a href="https://toys4you.centum-test.site/kukly-populiarnye">Куклы популярные</a>
                                                <div class="quantity">1</div>
                                            </li>
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                        </ul>
                                        <!--[if ENDBLOCK]><![endif]-->
                                        <li class="catalog-links-item">
                                            <a href="https://toys4you.centum-test.site/xoztovary">Хозтовары</a>
                                            <div class="quantity">2</div>
                                        </li>
                                        <ul>
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <li class="catalog-links-item">
                                                <a href="https://toys4you.centum-test.site/elektrotovary">Электротовары</a>
                                                <div class="quantity">2</div>
                                            </li>
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                            <!--[if ENDBLOCK]><![endif]-->
                                        </ul>
                                        <!--[if ENDBLOCK]><![endif]-->
                                        <!--[if ENDBLOCK]><![endif]-->
                                    </ul>
                                </div>

                            </div>
                            <div class="accordion-item">
                                <div class="accordion-title relative cursor-pointer pb-4  pe-11 md:pe-16  ipad:pe-7  ps-5 md:ps-10 ipad:ps-4  ipad:text-xl font-medium">Країна реєстрації бренду</div>
                                <div class="accordion-content ps-5 md:ps-10 ipad:ps-4 pe-5 md:pe-7 ipad:pe-4  py-0">
                                    <div class="custom-checkbox-item">
                                        <label for="210" class="">
                                            <input type="checkbox" id="210" checked>
                                            <span class="icon"></span>
                                            <span class="name">162 карточки со словами, 4 вспомогательных карточи с вопромами, 4 пластикових + 2 картонных обруча, фишки 100 шт, песочные часы</span>
                                        </label>
                                        <div class="quantity">8</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="220" class="custom-checkbox">
                                            <input type="checkbox" id="220">
                                            <span class="icon"></span>
                                            <span class="name">10 x 10</span>
                                        </label>
                                        <div class="quantity">8</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="230" class="custom-checkbox">
                                            <input type="checkbox" id="230">
                                            <span class="icon"></span>
                                            <span class="name">10 x 10</span>
                                        </label>
                                        <div class="quantity">8</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="240" class="custom-checkbox">
                                            <input type="checkbox" id="240">
                                            <span class="icon"></span>
                                            <span class="name">10</span>
                                        </label>
                                        <div class="quantity">8</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="250" class="custom-checkbox">
                                            <input type="checkbox" id="250" checked>
                                            <span class="icon"></span>
                                            <span class="name">10 x 10</span>
                                        </label>
                                        <div class="quantity">8</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="260" class="custom-checkbox">
                                            <input type="checkbox" id="260" checked>
                                            <span class="icon"></span>
                                            <span class="name">10</span>
                                        </label>
                                        <div class="quantity">8</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="270" class="custom-checkbox">
                                            <input type="checkbox" id="270">
                                            <span class="icon"></span>
                                            <span class="name">10 x 10</span>
                                        </label>
                                        <div class="quantity">8</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="280" class="custom-checkbox">
                                            <input type="checkbox" id="280">
                                            <span class="icon"></span>
                                            <span class="name">10 x 10</span>
                                        </label>
                                        <div class="quantity">8</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="240" class="custom-checkbox">
                                            <input type="checkbox" id="240">
                                            <span class="icon"></span>
                                            <span class="name">10</span>
                                        </label>
                                        <div class="quantity">8</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="290" class="custom-checkbox">
                                            <input type="checkbox" id="290" checked>
                                            <span class="icon"></span>
                                            <span class="name">10 x 10</span>
                                        </label>
                                        <div class="quantity">8</div>
                                    </div>

                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-title relative cursor-pointer pb-4  pe-11 md:pe-16  ipad:pe-7  ps-5 md:ps-10 ipad:ps-4  ipad:text-xl font-medium">Бренд</div>
                                <div class="accordion-content ps-5 md:ps-10 ipad:ps-4 pe-5 md:pe-7 ipad:pe-4  py-0">
                                    <div class="custom-checkbox-item">
                                        <label for="310" class="custom-checkbox">
                                            <input type="checkbox" id="310" checked>
                                            <span class="icon"></span>
                                            <span class="name">A-toys</span>
                                        </label>
                                        <div class="quantity">25</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="320" class="custom-checkbox">
                                            <input type="checkbox" id="320">
                                            <span class="icon"></span>
                                            <span class="name">A-toys</span>
                                        </label>
                                        <div class="quantity">25</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="330" class="custom-checkbox">
                                            <input type="checkbox" id="330">
                                            <span class="icon"></span>
                                            <span class="name">A-toys</span>
                                        </label>
                                        <div class="quantity">25</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="340" class="custom-checkbox">
                                            <input type="checkbox" id="340">
                                            <span class="icon"></span>
                                            <span class="name">A-toys</span>
                                        </label>
                                        <div class="quantity">25</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="350" class="custom-checkbox">
                                            <input type="checkbox" id="350" checked>
                                            <span class="icon"></span>
                                            <span class="name">A-toys</span>
                                        </label>
                                        <div class="quantity">25</div>
                                    </div>

                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-title relative cursor-pointer pb-4  pe-11 md:pe-16  ipad:pe-7  ps-5 md:ps-10 ipad:ps-4  ipad:text-xl font-medium">Стать</div>
                                <div class="accordion-content ps-5 md:ps-10 ipad:ps-4 pe-5 md:pe-7 ipad:pe-4  py-0">
                                    <div class="custom-checkbox-item">
                                        <label for="410" class="custom-checkbox">
                                            <input type="checkbox" id="410" checked>
                                            <span class="icon"></span>
                                            <span class="name">Дівчинка</span>
                                        </label>
                                        <div class="quantity">355</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="420" class="custom-checkbox">
                                            <input type="checkbox" id="420">
                                            <span class="icon"></span>
                                            <span class="name">Хлопчик</span>
                                        </label>
                                        <div class="quantity">355</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="430" class="custom-checkbox">
                                            <input type="checkbox" id="430">
                                            <span class="icon"></span>
                                            <span class="name">Універсальні</span>
                                        </label>
                                        <div class="quantity">355</div>
                                    </div>


                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-title relative cursor-pointer pb-4  pe-11 md:pe-16  ipad:pe-7  ps-5 md:ps-10 ipad:ps-4  ipad:text-xl font-medium">Комплект поставки</div>
                                <div class="accordion-content ps-5 md:ps-10 ipad:ps-4 pe-5 md:pe-7 ipad:pe-4  py-0">
                                    <div class="custom-checkbox-item">
                                        <label for="510" class="custom-checkbox">
                                            <input type="checkbox" id="510" checked>
                                            <span class="icon"></span>
                                            <span class="name">Жуйка для рук</span>
                                        </label>
                                        <div class="quantity">355</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="520" class="custom-checkbox">
                                            <input type="checkbox" id="520">
                                            <span class="icon"></span>
                                            <span class="name">Жуйка для рук</span>
                                        </label>
                                        <div class="quantity">355</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="530" class="custom-checkbox">
                                            <input type="checkbox" id="530">
                                            <span class="icon"></span>
                                            <span class="name">Жуйка для рук</span>
                                        </label>
                                        <div class="quantity">355</div>
                                    </div>

                                    <div class="custom-checkbox-item">
                                        <label for="540" class="custom-checkbox">
                                            <input type="checkbox" id="540">
                                            <span class="icon"></span>
                                            <span class="name">Жуйка для рук</span>
                                        </label>
                                        <div class="quantity">355</div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-title relative cursor-pointer pb-4  pe-11 md:pe-16  ipad:pe-7  ps-5 md:ps-10 ipad:ps-4  ipad:text-xl font-medium">Тип боєпріпасів</div>
                                <div class="accordion-content ps-5 md:ps-10 ipad:ps-4 pe-5 md:pe-7 ipad:pe-4  py-0">
                                    <div class="custom-checkbox-item">
                                        <label for="610" class="custom-checkbox">
                                            <input type="checkbox" id="610" checked>
                                            <span class="icon"></span>
                                            <span class="name">Присоски</span>
                                        </label>
                                        <div class="quantity">1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-title relative cursor-pointer pb-4  pe-11 md:pe-16  ipad:pe-7  ps-5 md:ps-10 ipad:ps-4  ipad:text-xl font-medium">Комплект поставки</div>
                                <div class="accordion-content ps-5 md:ps-10 ipad:ps-4 pe-5 md:pe-7 ipad:pe-4  py-0">
                                    <div class="custom-checkbox-item">
                                        <label for="510" class="custom-checkbox">
                                            <input type="checkbox" id="510" checked>
                                            <span class="icon"></span>
                                            <span class="name">Жуйка для рук</span>
                                        </label>
                                        <div class="quantity">355</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="520" class="custom-checkbox">
                                            <input type="checkbox" id="520">
                                            <span class="icon"></span>
                                            <span class="name">Жуйка для рук</span>
                                        </label>
                                        <div class="quantity">355</div>
                                    </div>
                                    <div class="custom-checkbox-item">
                                        <label for="530" class="custom-checkbox">
                                            <input type="checkbox" id="530">
                                            <span class="icon"></span>
                                            <span class="name">Жуйка для рук</span>
                                        </label>
                                        <div class="quantity">355</div>
                                    </div>

                                    <div class="custom-checkbox-item">
                                        <label for="540" class="custom-checkbox">
                                            <input type="checkbox" id="540">
                                            <span class="icon"></span>
                                            <span class="name">Жуйка для рук</span>
                                        </label>
                                        <div class="quantity">355</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-block-bottom">
                            <div class="filter-block-bottom-text">Знайдено 43 товари</div>
                            <div class="button-wrapper">
                                <button class="button button-green text-base md:text-lg px-8 py-2 md:py-3 mb-0 md:mb-2 w-full">Показати</button>
                            </div>
                        </div>
                    </div>
                </aside>
				<div class=" w-full">
					<div class="ipad:rounded-2xl ipad:bg-white ipad:p-5 mb-4 ipad:mb-5 ipad:shadow-[4px_4px_15px_0_rgba(46,46,46,.1)]">
						<div class="mobile-buttons">
							<div class="button button-green filter-button text-base md:text-lg px-8 py-2 md:py-3  "><img src="img/icons/filter-icon.svg" alt="">Фільтр</div>
							<div class="mobile-sorting">
								<div class="current-sorting text-base md:text-lg px-8 py-2 md:py-3  ">
									<span class="decor">
										<span>За популярніс sdfтю</span>
									</span>
								</div>
								<ul class="list">
									<li class="list-item current">
										<a href="">За популярністю</a>
									</li>
									<li class="list-item">
										<a href="">Від дешевого до дорогого</a>
									</li>
									<li class="list-item">
										<a href="">Від дорогого до дешевого</a>
									</li>
									<li class="list-item">
										<a href="">За відгуками</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="hidden ipad:flex items-start mb-5">
							<div class="text-base font-medium me-[7px]">Cортувати:</div>
							<div class="sorting-block-list pb-5 border-b border-b-gray-300 px-4 inline-flex flex-wrap">
								<a href="" class="sorting-item active  me-10 relative text-sm text-nowrap">Від дешевого до дорогого</a>
								<a href="" class="sorting-item me-10 relative text-sm text-nowrap">Від дорогого до дешевого</a>
								<a href="" class="sorting-item me-10 relative text-sm text-nowrap">За популярністю</a>
								<a href="" class="sorting-item  relative text-sm text-nowrap">За відгуками</a>
							</div>
						</div>
						<div class="flex items-center flex-wrap gap-2">
							<div class="text-base font-medium me-4">Вибрані фільтри:</div>

							<div class="rounded-lg py-2 px-2 text-xs md:text-sm flex flex-nowrap border border-gray-500 items-center order-3 md:order-1">
								Бренд:
								<span class="text-teal-500">A-toys</span>
								<div class="delete-button cursor-pointer w-4 h-4 bg-[url(./img/icons/close-black-icon.svg)] bg-contain bg-no-repeat shrink-0 bg-center  ms-4">
									
								</div>
							</div>
							<div class="rounded-lg py-2 px-2 text-xs md:text-sm flex flex-nowrap border border-gray-500 items-center order-3 md:order-1">
								Комплект поставки:
								<span class="text-teal-500">Жуйка для рук</span>
								<div class="delete-button cursor-pointer w-4 h-4 bg-[url(./img/icons/close-black-icon.svg)] bg-contain bg-no-repeat shrink-0 bg-center  ms-4"></div>
							</div>
							<div class="rounded-lg py-2 px-2 text-xs md:text-sm flex flex-nowrap border border-gray-500 items-center order-3 md:order-1">
								Країна:
								<span class="text-teal-500">Україна, Італія</span>
								<div class="delete-button cursor-pointer w-4 h-4 bg-[url(./img/icons/close-black-icon.svg)] bg-contain bg-no-repeat shrink-0 bg-center  ms-4"></div>
							</div>
							<div class="rounded-lg py-2 px-2 text-xs md:text-sm flex flex-nowrap border border-gray-500 items-center order-3 md:order-1">
								Стать:
								<span class="text-teal-500">Універсальні</span>
								<div class="delete-button cursor-pointer w-4 h-4 bg-[url(./img/icons/close-black-icon.svg)] bg-contain bg-no-repeat shrink-0 bg-center  ms-4"></div>
							</div>
							<div class="py-2 px-2 text-xs md:text-sm  items-center text-teal-500 order-2">
								Скинути всі фільтри
							</div>

						</div>
					</div>
					<div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-5 gap-[2px] md:gap-2 xl:gap-5 -mx-5 md:mx-0">
						{% set j = 15 %}
						{% for i in range(1, j) %}
							{% include "./components/product/product-card.twig" %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="flex items-center justify-center gap-2 mt-5 flex-wrap">
				<a href="" class="md:text-lg duration-300 cursor-pointer text-gray-400 hover:text-gray-900 font-medium before:w-2 before:h-3 before:inline-block before:bg-[url(./img/icons/chevron-left-green-icon.svg)] before:bg-no-repeat before:bg-center before:bg-contain before:me-2">Попередній</a>
				<a href="" class="rounded-lg md:text-lg font-medium duration-300 ease-in-out  py-[5px] px-[9px]  bg-teal-500 text-white">1</a>
				<a href="" class="rounded-lg md:text-lg font-medium duration-300 ease-in-out  text-gray-400 hover:text-gray-900">2</a>
				<a href="" class="rounded-lg md:text-lg font-medium duration-300 ease-in-out  text-gray-400 hover:text-gray-900">3</a>
				<a href="" class="rounded-lg md:text-lg font-medium duration-300 ease-in-out  text-gray-400 hover:text-gray-900">4</a>
				<a href="" class="rounded-lg md:text-lg font-medium duration-300 ease-in-out  text-gray-400 hover:text-gray-900">5</a>
				<a href="" class="md:text-lg duration-300 cursor-pointer text-gray-400 hover:text-gray-900 font-medium after:w-2 after:h-3 after:inline-block after:bg-[url(./img/icons/chevron-left-green-icon.svg)] after:bg-no-repeat before:bg-center after:bg-contain after:ms-2 after:rotate-180">Далі</a>
			</div>
		</div>
	</section>
	<section class="desc-catalog py-2 md:py-4 xl:py-6">
		<div class="main-container">
			<div class="desc-catalog-content">
				<h2>Творчість і розвиток: алмазна мозаїка для дітей</h2>
				<p>Існує багато напрямків і різновидів дитячої творчості. Але останнім часом все більшу популярність завойовує алмазна мозаїка. Вона впевнено конкурує з малюванням, картинами за номерами та різними видами рукоділля.</p>
				<p>Мається на увазі викладання картин за заздалегідь створеною схемою за допомогою страз з акрилу. Результат роботи – яскрава та барвиста картина, що являє собою справжній витвір мистецтва. Складається враження, що вона виблискує, як справжні алмази.</p>
				<p>Інтернет-магазин Toys4you пропонує широкий асортимент подібних товарів, серед яких ви оберете моделі різного рівня складності – відповідні як маленьким діткам, так і їх батькам.</p>
				<hr>
				<h2>Переваги мозаїки з «алмазів»</h2>
				<p>Процес формування картини позитивно відбивається на дитині, оскільки розвиває цілий ряд навичок:</p>
				<ul>
					<li>посидючість;</li>
					<li>уява;</li>
					<li>акуратність;</li>
					<li>дрібна моторика.</li>
				</ul>
				<p>І головне – насолоджуючись кінцевим результатом своєї роботи, малюк долучається до прекрасного, у нього формується художній смак і віра в себе, адже він сам особисто створив справжній шедевр. Якщо вас зацікавила алмазна мозаїка купити її можна на сайті нашого магазину.</p>
				<hr>
				<h2>Як викладати картини</h2>
				<p>Нічого складно в цьому немає. Навіть найпростіша вишивка набагато важча – адже там потрібно постійно стежити за якістю стібків, натягом нитки. А ще – голка несе в собі певну небезпеку.</p>
				<p>З мозаїчними полотнами набагато простіше. Потрібно орієнтуватися на схему та брати стрази потрібного кольору. Викладаючи їх, вийде створити яскраву та красиву картину – об'ємну, живу. Вона не вигоряє, не втрачає фарб протягом багатьох років. А переливи світла створюють чудову гру відблисків.</p>
				<hr>
				<h2>Кілька секретів для чудового результату</h2>
				<ol>
					<li>Підготуйте стіл. Перед початком творчого процесу слід підготувати стіл – прибрати все зайве. Покласти основу і поруч – місткості зі стразами. Якщо полотно м'яке, так і норовить скотитися в рулон – по кутах зафіксуйте його книгами.</li>
					<li>Не потрібно знімати все клейке полотно відразу. Прибирайте його поступово, тільки з тих частин виробу, на які наклеюються стрази зараз.</li>
					<li>Користуйтеся «інструментами». Зазвичай в комплекті поставляються інструменти – пінцет і спеціальний олівець. З їх допомогою простіше брати та приклеювати стрази. Для особливо маленьких камінчиків призначений олівець.</li>
					<li>Захистіть роботу. Після завершення картини, рекомендується помістити її в рамку під скло.</li>
				</ol>
				<hr>
				<h2>Що входить в комплект</h2>
				<p>Алмазна мозаїка купити Україна можна на нашому сайті. Комплектація наборів залежить від виробника. Найчастіше це такі елементи:</p>
				<ul>
					<li>полотно з клейовим шаром;</li>
					<li>схема кольорів;</li>
					<li>інструкція;</li>
					<li>стрази з акрилу;</li>
					<li>пінцет і олівець для вибору та перенесення стразів;</li>
					<li>клей;</li>
					<li>лотки для сортування страз.</li>
				</ul>
				<hr>
				<h2>Великий асортимент і оперативна доставка</h2>
				<p>Інтернет-магазин Toys4you пропонує широкий асортимент моделей різного типу, що відрізняються розмірами, рівнем складності та сюжетними лініями. Ми співпрацюємо з відомими виробниками – Danko Toys та «Ідейка». Для вашої зручності всі товари розділені в каталозі за темами:</p>
				<ul>
					<li>міста;</li>
					<li>дитяче;</li>
					<li>тварини;</li>
					<li>люди;</li>
					<li>натюрморт;</li>
					<li>пейзажі;</li>
					<li>романтика;</li>
					<li>квіти.</li>
				</ul>
				<p>Для вашої зручності передбачено кілька варіантів оплати та доставки. Щоб купити мозаїку з алмазами вам потрібно додати вподобану картину в кошик і оформити замовлення. Якщо виникли питання – звертайтеся до консультантів. Вони допоможуть зорієнтуватися в розмаїтті продукції. Доставка здійснюється у всі населені пункти України.</p>
				<hr>
				<h2>У чому популярність картини з мозаїки</h2>
				<p>Вона приваблює своєю яскравістю і поєднанням відразу кількох технік при роботі:</p>
				<ul>
					<li>аплікації;</li>
					<li>мозаїки;</li>
					<li>вишивання.</li>
				</ul>
				<p>Повністю готові алмазні картини ідеально імітують вишивку. Вони добре вписуються в дизайн інтер'єру, відмінно виглядають у вітальнях і спальних кімнатах, являють собою прекрасний подарунок.</p>
				<p>Наступна незаперечна перевага – простота освоєння техніки наклеювання стразів. Вам або вашій дитині (в залежності від того, яка складність в алмазної мозаїки) не доведеться освоювати навички шиття. Досить просто дотримуватися рекомендацій, описаних в інструкції, щоб створити повноцінний шедевр.</p>
				<hr>
				<h2>Кому підійде така мозаїка</h2>
				<p>Найчастіше вона подобається жінкам і дівчаткам. Але якщо правильно підібрати тематику, то і хлопчики можуть зацікавитися.</p>
				<p>Звичайно, малюкам, дошкільнятам така робота не особливо сподобається – важливими є посидючість і скрупульозність. Зате старші школярі, дорослі люди із задоволенням будуть займатися створенням картин.</p>
				<hr>
				<h2>Рекомендації з вибору</h2>
				<p>Якщо ви хочете купити алмазну картину, але не знаєте, як її вибрати – прочитайте цей розділ.</p>
				<p>Відзначимо, що стрази в наборі бувають трьох форм:</p>
				<ul>
					<li>з безліччю кутів;</li>
					<li>квадратні;</li>
					<li>круглі.</li>
				</ul>
				<p>Оптимальний варіант – якщо вони квадратні, оскільки в такому випадку кути та краї щільно прилягають один до одного і готова робота виглядає більш гармонійно і привабливо.</p>
				<p>Обов'язково врахуйте ступінь заповнення. Наприклад, якщо для викладання призначений тільки невеликий фрагмент, а інша частина просто розфарбована, то результат буде не надто привабливим. Повне заповнення – гарантований твір мистецтва, створений власними руками.</p>
				<p>Важливий параметр – сюжет. Один з найбільш поширених – квіти, великі бутони. Мозаїка буде переливатися, давати сяйво та природність, святковий настрій. Особливо, якщо полотно розмістити в красивій дерев'яній рамі.</p>
				<p>Популярними залишаються і пейзажі, зображення моря. Вони приваблюють різноманітністю відтінків, плавних переходів і деталізацією.</p>
				<hr>
				<h2>Як правильно доглядати</h2>
				<p>Готові твори не вимогливі до догляду. Вони довговічні. Камені не втрачають свій колір, не тьмяніють, зберігаючи яскравість. Додаткового захисту – наприклад, покриття лаком – не потрібно. Щоб видалити пил – досить протерти злегка вологою ганчірочкою.</p>
				<p>Хочете купити алмазну мозаїку в Україні? На сайті Toys4you – широкий асортимент товарів!</p>
			</div>
		</div>
	</section>
	{% include "components/product/product-card-list.twig" with {'blockTitle': "Схожі товари",'customClass': "one-row"} %}
	{% include "components/product/product-card-list.twig" with {'blockTitle': "Останні переглянуті товари",'customClass': "one-row"} %}<section class="pt-2 md:pt-4 xl:pt-6 pb-2 md:pb-4 xl:pb-6">
		<div class="main-container">
			<h2 class="block-title">Бренди</h2>
			<div class="brands-slider-wrapper px-9 md:px-0  grid  relative">
				<div class="button-prev-slide green w-3  h-5 md:hidden absolute left-0 top-[50%] z-10 cursor-pointer opacity-30 hover:opacity-100 rotate-180 bg-contain -translate-y-1/2" style="background-image: url(../img/icons/slider-next-arrows-green.svg)"></div>
				<div class="button-next-slide green w-3 h-5 md:hidden absolute right-0 top-[50%] z-10 cursor-pointer opacity-30 hover:opacity-100  bg-contain -translate-y-1/2" style="background-image: url(../img/icons/slider-next-arrows-green.svg)"></div>
				<div class="brands-slider swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="relative z-10 overflow-hidden">
								<div class="h-[60px]">
									<img src="./img/main/lego.png" alt="" class="w-full h-full object-contain">
								</div>
								<a href="" class="item-link"></a>
							</div>

						</div>
						<div class="swiper-slide">
							<div class="relative z-10 overflow-hidden">
								<div class="h-[60px]">
									<img src="./img/main/fisher-price.png" alt="" class="w-full h-full object-contain">
								</div>
								<a href="" class="item-link"></a>
							</div>

						</div>
						<div class="swiper-slide">
							<div class="relative z-10 overflow-hidden">
								<div class="h-[60px]">
									<img src="./img/main/baby-born.png" alt="" class="w-full h-full object-contain">
								</div>
								<a href="" class="item-link"></a>
							</div>

						</div>
						<div class="swiper-slide">
							<div class="relative z-10 overflow-hidden">
								<div class="h-[60px]">
									<img src="./img/main/disney.png" alt="" class="w-full h-full object-contain">
								</div>
								<a href="" class="item-link"></a>
							</div>

						</div>
						<div class="swiper-slide">
							<div class="relative z-10 overflow-hidden">
								<div class="h-[60px]">
									<img src="./img/main/harry-potter.png" alt="" class="w-full h-full object-contain">
								</div>
								<a href="" class="item-link"></a>
							</div>

						</div>
						<div class="swiper-slide">
							<div class="relative z-10 overflow-hidden">
								<div class="h-[60px]">
									<img src="./img/main/lol.png" alt="" class="w-full h-full object-contain">
								</div>
								<a href="" class="item-link"></a>
							</div>

						</div>
						<div class="swiper-slide">
							<div class="relative z-10 overflow-hidden">
								<div class="h-[60px]">
									<img src="./img/main/star-wars.png" alt="" class="w-full h-full object-contain">
								</div>
								<a href="" class="item-link"></a>
							</div>

						</div>
						<div class="swiper-slide">
							<div class="relative z-10 overflow-hidden">
								<div class="h-[60px]">
									<img src="./img/main/marvel.png" alt="" class="w-full h-full object-contain">
								</div>
								<a href="" class="item-link"></a>
							</div>

						</div>
						<div class="swiper-slide">
							<div class="relative z-10 overflow-hidden">
								<div class="h-[60px]">
									<img src="./img/main/barbie.png" alt="" class="w-full h-full object-contain">
								</div>
								<a href="" class="item-link"></a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="pt-2 md:pt-4 xl:pt-6 pb-2 md:pb-4 xl:pb-6">
		<div class="main-container">

			<h2 class="block-title">Найпопулярніщі новини</h2>
			<div class="popular-news-slider-wrapper px-9 md:px-0  grid  relative ">
				<div class="button-prev-slide green w-3  h-5 md:hidden absolute left-0 top-[50%] z-10 cursor-pointer opacity-30 hover:opacity-100 rotate-180 bg-contain -translate-y-1/2" style="background-image: url(../img/icons/slider-next-arrows-green.svg)"></div>
				<div class="button-next-slide green w-3 h-5 md:hidden absolute right-0 top-[50%] z-10 cursor-pointer opacity-30 hover:opacity-100  bg-contain -translate-y-1/2" style="background-image: url(../img/icons/slider-next-arrows-green.svg)"></div>
				<div class="popular-news-slider swiper">
					<div class="swiper-wrapper ">
						<div class="swiper-slide pb-4 ">
							<div class="pb-3 ipad:pb-5 px-3 ipad:px-5 bg-white flex flex-col h-full shadow-[4px_4px_15px_0_rgba(46,46,46,.1)] rounded-lg">
								<a href="" class="flex items-center justify-center overflow-hidden -mx-3 ipad:-mx-5 aspect-[1/0.62] rounded-lg mb-2 md:mb-3 block-area shrink-0 group ">
									<img src="./img/main/news1.png" alt="" class="w-full h-full object-cover group-hover:scale-110 duration-500 ease-in-out">
								</a>
								<div class="flex justify-between mb-3">
									<div class="text-[10px] md:text-xs font-light">15.06.23</div>
									<div class="text-[10px] md:text-xs font-light">Автор: Дмитро</div>
								</div>
								<a href="" class="text-sm md:text-lg ipad:text-xl font-medium mb-1 mb:mb-3 hover:text-violet-600">Як мотивувати дитину займатися спортом</a>
								<div class="mt-auto text-[10px] md:text-base ipad:text-lg line-clamp-2 overflow-hidden">
									Кожен знає про важливість спорту здоров'ю людини. І, звичайно...
								</div>
							</div>
						</div>
						<div class="swiper-slide pb-4 ">
							<div class="pb-3 ipad:pb-5 px-3 ipad:px-5 bg-white flex flex-col h-full shadow-[4px_4px_15px_0_rgba(46,46,46,.1)] rounded-lg">
								<a href="" class="flex items-center justify-center overflow-hidden -mx-3 ipad:-mx-5 aspect-[1/0.62] rounded-lg mb-2 md:mb-3 block-area shrink-0 group ">
									<img src="./img/main/news2.png" alt="" class="w-full h-full object-cover group-hover:scale-110 duration-500 ease-in-out">
								</a>
								<div class="flex justify-between mb-3">
									<div class="text-[10px] md:text-xs  font-light">15.06.23</div>
									<div class="text-[10px] md:text-xs  font-light">Автор: Дмитро</div>
								</div>
								<a href="" class="text-sm md:text-lg ipad:text-xl font-medium mb-1 mb:mb-3 hover:text-violet-600">Які ігри необхідні дошкільнику</a>
								<div class="mt-auto text-[10px] md:text-base ipad:text-lg line-clamp-2 overflow-hidden">
									Розумовий розвиток дитини молодшого віку формується та...
								</div>
							</div>
						</div>
						<div class="swiper-slide pb-4 ">
							<div class="pb-3 ipad:pb-5 px-3 ipad:px-5 bg-white flex flex-col h-full shadow-[4px_4px_15px_0_rgba(46,46,46,.1)] rounded-lg">
								<a href="" class="flex items-center justify-center overflow-hidden -mx-3 ipad:-mx-5 aspect-[1/0.62] rounded-lg mb-2 md:mb-3 block-area shrink-0 group ">
									<img src="./img/main/news3.png" alt="" class="w-full h-full object-cover group-hover:scale-110 duration-500 ease-in-out">
								</a>
								<div class="flex justify-between mb-3">
									<div class="text-[10px] md:text-xs  font-light">15.06.23</div>
									<div class="text-[10px] md:text-xs  font-light">Автор: Дмитро</div>
								</div>
								<a href="" class="text-sm md:text-lg ipad:text-xl font-medium mb-1 mb:mb-3 hover:text-violet-600">Як навчити дитину читати?</a>
								<div class="mt-auto text-[10px] md:text-base ipad:text-lg line-clamp-2 overflow-hidden">
									Батьки часто цікавляться, у якому віці необхідно починати своїх малюків...
								</div>
							</div>
						</div>
						<div class="swiper-slide pb-4 ">
							<div class="pb-3 ipad:pb-5 px-3 ipad:px-5 bg-white flex flex-col h-full shadow-[4px_4px_15px_0_rgba(46,46,46,.1)] rounded-lg">
								<a href="" class="flex items-center justify-center overflow-hidden -mx-3 ipad:-mx-5 aspect-[1/0.62] rounded-lg mb-2 md:mb-3 block-area shrink-0 group ">
									<img src="./img/main/news4.png" alt="" class="w-full h-full object-cover group-hover:scale-110 duration-500 ease-in-out">
								</a>
								<div class="flex justify-between mb-3">
									<div class="text-[10px] md:text-xs  font-light">15.06.23</div>
									<div class="text-[10px] md:text-xs  font-light">Автор: Дмитро</div>
								</div>
								<a href="" class="text-sm md:text-lg ipad:text-xl font-medium mb-1 mb:mb-3 hover:text-violet-600">Про безкоштовне переадресування в межах міста від
																																																																																																																										                                        Нова Пошта</a>
								<div class="mt-auto text-[10px] md:text-base ipad:text-lg line-clamp-2 overflow-hidden">
									Шановний Клієнте! Раді Вам повідомити, що з 13 квітня послуга...
								</div>
							</div>
						</div>
						<div class="swiper-slide pb-4 ">
							<div class="pb-3 ipad:pb-5 px-3 ipad:px-5 bg-white flex flex-col h-full shadow-[4px_4px_15px_0_rgba(46,46,46,.1)] rounded-lg">
								<a href="" class="flex items-center justify-center overflow-hidden -mx-3 ipad:-mx-5 aspect-[1/0.62] rounded-lg mb-2 md:mb-3 block-area shrink-0 group ">
									<img src="./img/main/news1.png" alt="" class="w-full h-full object-cover group-hover:scale-110 duration-500 ease-in-out">
								</a>
								<div class="flex justify-between mb-3">
									<div class="text-[10px] md:text-xs  font-light">15.06.23</div>
									<div class="text-[10px] md:text-xs  font-light">Автор: Дмитро</div>
								</div>
								<a href="" class="text-sm md:text-lg ipad:text-xl font-medium mb-1 mb:mb-3 hover:text-violet-600">Як мотивувати дитину займатися спортом</a>
								<div class="mt-auto text-[10px] md:text-base ipad:text-lg line-clamp-2 overflow-hidden">
									Кожен знає про важливість спорту здоров'ю людини. І, звичайно...
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="pt-2 md:pt-4 xl:pt-6 pb-2 md:pb-4 xl:pb-6">
		<div class="main-container">
			<div class="max-w-[1480px] w-full mx-auto py-4 md:py-5 ipad:py-9 px-3 md:px-5 ipad:px-24 flex items-center flex-col xl:flex-row  justify-between rounded-2xl bg-[rgba(111,64,221,.15)]">

				<div class="max-w-[484px] mb-3 ipad:mb-4 lg:mb-6 xl:mb-0 xl:me-16 shrink-0 text-center xl:text-start">
					<div class="text-sm md:text-2xl ipad:text-xl mb-3 md:mb-4 font-medium">Дізнавайтесь першими про новинки, акції!</div>
					<div class="text-xs md:text-base">Залишіть свою пошту та отримуйте інформацію про найближчі знижки
																																																																	                        та акції. Будьте в курсі про новинки та знижки.
					</div>
				</div>
				<form action="" class="mb-0	w-full flex flex-col md:flex-row items-center">
					<input type="text" class="rounded-lg bg-white text-xs md:text-base py-2 md:py-4 px-2 md:px-4 me-0 md:me-3 ipad:me-4 mb-3 md:mb-0 flex w-full" placeholder="Ваш E-mail">
					<button class="text-white font-semibold duration-300 ease-in-out bg-pink-500 hover:bg-pink-700 text-base md:text-lg rounded-lg py-2 md:py-3 px-2 md:px-8 w-full md:w-auto">Підписатися</button>
				</form>
			</div>
		</div>

	</section>
{% endblock %}
