{% extends 'layouts/main.twig' %}
{% block content %}
	<div class="main-container">
		<div class="tablet-catalog-button button inline-flex xl:hidden text-base md:text-lg px-8 py-2 md:py-3 mb-0 md:mb-2 w-full">
			<img src="img/icons/category-icon.svg" alt="" class="me-2 md:me-3 w-6 md:w-8 h-6 md:h-8 shrink-0">Каталог
																																																																																																		                    товарів
		</div>
	</div>
	<section class="relative mt-5">
		<div class="absolute flex items-center justify-center w-full h-full -z-10 after:absolute after:w-full after:h-full after:bg-gray-800 after:bg-opacity-50 after:z-0">
			<img src="./img/company/top-img.png" alt="" class="w-full h-full object-cover">
		</div>
		<div class="main-container">
			<div class="py-7 md:py-[70px] xl:py-[249] relative z-10 flex flex-col items-center">
				<div class="text-sm md:text-xl xl:text-3xl text-white mb-2">Про компанію</div>
				<div class="text-[32px] md:text-5xl xl:text-7xl font-medium uppercase text-white mb-1 xl:mb-3">Toys4you</div>
				<div class="text-xs md:text-2xl xl:text-[36px] text-white">Улюблена робота – продаж іграшок</div>
			</div>
		</div>
	</section>
	<section class="relative pt-4 md:pt-8 xl:pt-[72px] pb-11 md:pb-24 xl:pb-32 after:absolute after:-z-10 after:left-0 after:bottom-0  after:[background-image:url(./img/company/decor-bottom.png)] after:[background-repeat:repeat-x]  after:[background-size:1096px_243px] after:[background-position:bottom] after:h-[140px]  after:w-full before:absolute before:-z-10 before:left-0 before:top-0  before:[background-image:url(./img/company/decor-top.png)] before:[background-repeat:repeat-x]  before:[background-size:1616px_140px]  before:h-[140px]  before:w-full overflow-hidden">
		<div class="bg-[#f5f5f5]">
			<div class="main-container">
				<h2 class="text-xl md:text-2xl xl:text-[42px] font-bold text-center mb-4 md:mb-6 xl:mb-[30px]">
					Наша місія
				</h2>
				<div class="flex items-center justify-center flex-col md:flex-row">
					<div class="max-w-full md:max-w-[488px] lg:max-w-[715px] me-0 md:me-14 w-ful grow">
						<div class="text-lg md:text-xl xl:text-[32px] mb-2 md:mb-5 font-medium text-violet-800 ">Ми віримо, що найкращий подарунок - той, що робить
							                            щасливим дитину!
						</div>
						<div class="md:text-xl font-light">У нас ви можете побачити широкий вибір товарів
							                            вітчизняних торгових марок, які ми отримуємо безпосередньо від виробників. Тому можемо
							                            реалізовувати їх за доступною ціною. Наш магазин здійснює доставку по всій території України. Ми
							                            цього досягли завдяки доступній ціновій політиці, широкому асортименту та чудовому сервісу.
							                            Нашим основним принципом та головною метою в роботі є задоволеність кожного клієнта.
						</div>
					</div>
					<div class="flex justify-center items-center ">
						<img src="./img/company/kid1.png" alt="" class="w-full h-full object-contain max-h-[108px] md:max-h-[210px] xl:max-h-[382px]">
					</div>
				</div>
			</div>
		</div>

	</section>
	<div class="pt-2 md:pt-1 xl:pt-[38px]  pb-1 md:pb-6 xl:pb-16">
		<div class="main-container">
			<div class="flex justify-center flex-col lg:flex-row">
				<div class="flex items-center flex-col me:0 md:me-12 xl:me-[116px] mb-6 lg:mb-0">
					<div class="text-[56px] md:text-[64px] xl:text-[96px] font-medium text-pink-500 mb-1">10</div>
					<div class="md:text-xl text-gray-400">років на ринку</div>
				</div>
				<div class="flex items-center flex-col me:0 md:me-12 xl:me-[116px] mb-6 lg:mb-0">
					<div class="text-[56px] md:text-[64px] xl:text-[96px] font-medium text-pink-500 mb-1">1 000 000</div>
					<div class="md:text-xl text-gray-400">задоволених батьків</div>
				</div>
				<div class="flex items-center flex-col  mb-6 md:mb-0">
					<div class="text-[56px] md:text-[64px] xl:text-[96px] font-medium text-pink-500 mb-1">30 000</div>
					<div class="md:text-xl text-gray-400">іграшок для вашої дитини</div>
				</div>
			</div>
		</div>
	</div>
	<section class="relative pt-4 md:pt-8 xl:pt-[72px] pb-11 md:pb-24 xl:pb-32 after:absolute after:-z-10 after:left-0 after:bottom-0  after:[background-image:url(./img/company/decor-bottom.png)] after:[background-repeat:repeat-x]  after:[background-size:1096px_243px] after:[background-position:bottom] after:h-[140px]  after:w-full before:absolute before:-z-10 before:left-0 before:top-0  before:[background-image:url(./img/company/decor-top.png)] before:[background-repeat:repeat-x]  before:[background-size:1616px_140px]  before:h-[140px]  before:w-full overflow-hidden">
		<div class="bg-[#f5f5f5]">
			<div class="main-container">
				<h2 class="text-xl md:text-2xl xl:text-[42px] font-bold text-center mb-4 md:mb-6 xl:mb-[30px]">
					Наші цінності
				</h2>
				<div class="flex items-center justify-center flex-col md:flex-row">
					<div class="max-w-full md:max-w-[488px] lg:max-w-[715px] me-0 md:me-14 w-ful grow">
						<div class="text-lg md:text-xl xl:text-[32px] mb-2 md:mb-5 font-medium text-violet-800">Ми віримо, що найкращий подарунок - той, що робить щасливим дитину!
						</div>
						<div class="md:text-xl font-light">У нас ви можете побачити широкий вибір товарів вітчизняних торгових марок, які ми отримуємо безпосередньо від виробників. Тому можемо реалізовувати їх за доступною ціною. Наш магазин здійснює доставку по всій території України. Ми цього досягли завдяки доступній ціновій політиці, широкому асортименту та чудовому сервісу. Нашим основним принципом та головною метою в роботі є задоволеність кожного клієнта.
						</div>
					</div>
					<div class="flex justify-center items-center">
						<img src="./img/company/kid2.png" alt="" class="w-full h-full object-contain max-h-[108px] md:max-h-[210px] xl:max-h-[382px]">
					</div>
				</div>
			</div>
		</div>

	</section>
	<div class="pt-6 md:pt-12 xl:pt-6  pb-10 md:pb-12 xl:pb-[72px]">
		<div class="container">
			<div class="flex flex-col lg:flex-row gap-10 lg:gap-[90px] xl:gap-[236px] justify-center items-center lg:items-end ">
				<div class="flex items-center flex-col">
					<div class="flex items-center justify-center mb-4"><img src="./img/company/toy1.png" alt="" class="w-full h-full object-contain max-h-[100px] max-w-[100px]"></div>
					<div class="xl:text-xl text-gray-400 text-center">Швидка доставка</div>
				</div>
				<div class="flex items-center flex-col">
					<div  class="flex items-center justify-center mb-4"><img src="./img/company/toy2.png" alt=""></div>
					<div class="xl:text-xl text-gray-400 text-center">Оригінальні іграшки</div>
				</div>
				<div  class="flex items-center flex-col">
					<div  class="flex items-center justify-center mb-4"><img src="./img/company/toy3.png" alt=""></div>
					<div class="xl:text-xl text-gray-400 text-center">Гарантія якості</div>
				</div>
			</div>
		</div>
	</div>
	<section class="relative pt-4 md:pt-8 xl:pt-[72px] pb-11 md:pb-24 xl:pb-32 after:absolute after:-z-10 after:left-0 after:bottom-0  after:[background-image:url(./img/company/decor-bottom.png)] after:[background-repeat:repeat-x]  after:[background-size:1096px_243px] after:[background-position:bottom] after:h-[140px]  after:w-full before:absolute before:-z-10 before:left-0 before:top-0  before:[background-image:url(./img/company/decor-top.png)] before:[background-repeat:repeat-x]  before:[background-size:1616px_140px]  before:h-[140px]  before:w-full overflow-hidden">
		<div class="bg-[#f5f5f5]">
			<div class="container">
				<h2 class="text-xl md:text-2xl xl:text-[42px] font-bold text-center mb-4 md:mb-6 xl:mb-[30px]">
					Наша місія
				</h2>
				<div class="flex items-center justify-center flex-col md:flex-row">
					<div class="max-w-full md:max-w-[488px] lg:max-w-[715px] me-0 md:me-14 w-ful grow">
						<div class="text-lg md:text-xl xl:text-[32px] mb-2 md:mb-5 font-medium text-violet-800">Ми віримо, що найкращий подарунок - той, що робить щасливим дитину!
						</div>
						<div class="md:text-xl font-light">У нас ви можете побачити широкий вибір товарів вітчизняних торгових марок, які ми отримуємо безпосередньо від виробників. Тому можемо реалізовувати їх за доступною ціною. Наш магазин здійснює доставку по всій території України. Ми цього досягли завдяки доступній ціновій політиці, широкому асортименту та чудовому сервісу. Нашим основним принципом та головною метою в роботі є задоволеність кожного клієнта.
						</div>
					</div>
					<div class="flex justify-center items-center">
						<img src="./img/company/kid3.png" alt=" " class="w-full h-full object-contain max-h-[108px] md:max-h-[210px] xl:max-h-[382px]">
					</div>
				</div>
			</div>
		</div>

	</section>
{% endblock %}
