{% extends 'layouts/main.twig' %}
{% block content %}
	<div class="main-container">
		<div class="tablet-catalog-button button inline-flex xl:hidden text-base md:text-lg px-8 py-2 md:py-3 mb-0 md:mb-2 w-full">
			<img src="./img/icons/category-icon.svg" alt="" class="me-2 md:me-3 w-6 md:w-8 h-6 md:h-8 shrink-0">Каталог товарів
		</div>
	</div>
	<div class="breadcrumbs-wrapper pb-2 ipad:pb-4">
		<div class="main-container">
			<ul class="breadcrumbs flex flex-wrap pt-6 items-center ">
				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1">
					<a href="" class=""><img src="img/icons/home-icon.svg" alt="" class="text-violet-600 ">
					</a>
				</li>

				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1 text-violet-600">
					<a href="">
						Оплата і доставка
					</a>
				</li>
			</ul>
		</div>
	</div>
	<section class="pt-2 ipad:pt-3 pb-2 md:pb-5 ipad:pb-6">
		<div class="main-container">
			<h1 class="text-xl md:text-2xl xl:text-[32px] mb-2 md:mb-4 xl:mb-8 font-medium">
				Оплата і доставка
			</h1>
			<div class="mb-6 xl:mb-8">
				<div class="text-base md:text-xl xl:text-2xl mb-4 xl:mb-5 font-medium">Способи оплати</div>
				<div class="flex gap-2 flex-col xl:flex-row">
					<div class="delivery-section-list">
						<div class="relative xl:ps-[132px] mb-4 md:mb-6 xl:mb-8 ">
							<div class="flex items-center">
								<img src="./img/icons/wallet-delivery-icon.svg" alt="" class="w-12 md:w-16 xl:w-[116px] me-2 h-auto xl:absolute xl:top-1/2 xl:left-0 xl:-translate-y-1/2 shrink-0">

								<div class="text-base md:text-xl xl:text-2xl xl:mb-4 font-medium text-teal-500">Оплата при отриманні</div>
							</div>
							<div class="text-sm md:text-base xl:text-xl">У нашому магазині передбачена оплата післяплатою.
								Ви платите тільки після отримання та огляду покупки. Такий варіант дозволяє
								заплатити % транспортної компанії.
							</div>

						</div>
						<div class="relative xl:ps-[132px] mb-4 md:mb-6 xl:mb-8 ">
							<div class="flex items-center">
								<img src="./img/icons/credit-card-delivery-icon.svg" alt="" class="w-12 md:w-16 xl:w-[116px] me-2 h-auto xl:absolute xl:top-1/2 xl:left-0 xl:-translate-y-1/2 shrink-0">

								<div class="text-base md:text-xl xl:text-2xl xl:mb-4 font-medium text-teal-500">Переказ на карту</div>
							</div>
							<div class="text-sm md:text-base xl:text-xlt">Оплата на банківську картку прискорює процес обробки та надсилання замовлення. Ви не сплачуєте додатковий % транспортної компанії за перевезення грошей. Оплачувати на картку потрібно лише після того, як з вами зв'яжеться оператор та підтвердить наявність товару.
							</div>

						</div>
						<div class="relative xl:ps-[132px] mb-4 md:mb-6 xl:mb-8 ">
							<div class="flex items-center">
								<img src="./img/icons/device-mobile-delivery-icon.svg" alt="" class="w-12 md:w-16 xl:w-[116px] me-2 h-auto xl:absolute xl:top-1/2 xl:left-0 xl:-translate-y-1/2 shrink-0">

								<div class="text-base md:text-xl xl:text-2xl xl:mb-4 font-medium text-teal-500">Онлайн оплата LiqPay</div>
							</div>
							<div class="text-sm md:text-base xl:text-xlt">Безпечна система миттєвих переказів з банківських карток VISA та MASTERCARD (будь-якого банку) або будь-яких карток «ПриватБанку».Платежі здійснюються навіть за допомогою смартфона. Вам більше не потрібно чекати, поки з вами зв'яжеться менеджер – ми одразу бачимо надходження коштів та починаємо готувати замовлення до відправки.
							</div>

						</div>

					</div>
					<div class="flex items-center justify-center max-w-[335px] md:max-w-[527px] w-full shrink-0 overflow-hidden mx-auto xl:mx-0">
						<img src="./img/delivery-pay.png" alt="" class="w-full h-full object-contain">
					</div>
				</div>
				<div class="delivery-section-list-wrapper">
					<div class="text-base md:text-xl xl:text-2xl mb-4 xl:mb-5 font-medium">Способи доставки</div>
					<div class="flex gap-2 flex-col xl:flex-row">
						<div class="delivery-section-list">
							<div class="relative xl:ps-[132px] mb-4 md:mb-6 xl:mb-8 ">

								<div class="flex items-center">
									<img src="img/icons/box-seam-delivery-icon.svg" alt="" class="w-12 md:w-16 xl:w-[116px] me-2 h-auto xl:absolute xl:top-1/2 xl:left-0 xl:-translate-y-1/2 shrink-0">
									<div class="text-base md:text-xl xl:text-2xl xl:mb-4 font-medium text-teal-500">Нова пошта</div>
								</div>
								<div class="text-sm md:text-base xl:text-xlt">Доставка здійснюється до будь-якого відділення «Нової пошти». Можливе оформлення кур'єрської доставки додому. Вартість – за тарифами транспортної компанії. Оплачує доставку покупець, якщо не передбачено іншим умовами покупки.
								</div>

							</div>
							<div class="relative xl:ps-[132px] mb-4 md:mb-6 xl:mb-8 ">
								<div class="flex items-center">
									<img src="./img/icons/truck-loading-delivery-icon.svg" alt="" class="w-12 md:w-16 xl:w-[116px] me-2 h-auto xl:absolute xl:top-1/2 xl:left-0 xl:-translate-y-1/2 shrink-0">

									<div class="text-base md:text-xl xl:text-2xl xl:mb-4 font-medium text-teal-500">Інтайм</div>
								</div>
								<div class="text-sm md:text-base xl:text-xlt">Служба представлена ​​у багатьох містах України.Терміни доставки – від 2 до 4 діб. Можливість оформити кур'єрську доставку додому. Вартість – за тарифами компанії, залежно від ваги та обсягу посилки.
								</div>

							</div>
							<div class="relative xl:ps-[132px] mb-4 md:mb-6 xl:mb-8 ">
								<div class="flex items-center">
									<img src="./img/icons/truck-delivery-icon.svg" alt="" class="w-12 md:w-16 xl:w-[116px] me-2 h-auto xl:absolute xl:top-1/2 xl:left-0 xl:-translate-y-1/2 shrink-0">

									<div class="text-base md:text-xl xl:text-2xl xl:mb-4 font-medium text-teal-500">Делівері</div>
								</div>
								<div class="text-sm md:text-base xl:text-xlt">Услуги по доставке товаров различного габарита. Возможна курьерская доставка на дом. Стоимость – по тарифам транспортной компании, в зависимости от размера и веса купленного товара. Сроки доставки – от 24 часов.
								</div>

							</div>
						</div>
						<div class="flex items-center justify-center max-w-[335px] md:max-w-[527px] w-full shrink-0 overflow-hidden mx-auto xl:mx-0">
							<img src="./img/delivery-variant.png" alt="" class="w-full h-full object-contain">
						</div>
					</div>

				</div>

			</div>
			<div class="button-wrapper">
				<a href="" class="button button-green text-base md:text-lg px-8 py-2 md:py-3 ">Перейти до покупок</a>
			</div>
		</div>
	</div>
</section>{% endblock %}
