{% extends 'layouts/main.twig' %}
{% block content %}
	<div class="main-container">
		<div class="tablet-catalog-button button inline-flex xl:hidden text-base md:text-lg px-8 py-2 md:py-3 mb-0 md:mb-2 w-full">
			<img src="img/icons/category-icon.svg" alt="" class="me-2 md:me-3 w-6 md:w-8 h-6 md:h-8 shrink-0">Каталог
																																																																																															                    товарів
		</div>
	</div>
	<div class="breadcrumbs-wrapper pb-2 ipad:pb-4">
		<div class="main-container">
			<ul class="breadcrumbs flex flex-wrap pt-6 items-center ">
				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1">
					<a href="" class=""><img src="img/icons/home-icon.svg" alt="" class="text-violet-600 ">
					</a>
				</li>

				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1 text-violet-600">
					<a href="">Гарантія та повернення 
					</a>
				</li>
			</ul>
		</div>
	</div>
	<section class="info-section">
        <div class="main-container">
            <div class="info-section-content">
                <h2>Гарантія та повернення</h2>
                <p>Шановні покупці! Адміністрація магазину Toys4you дотримується законів України. Ви маєте можливість
                    повернути або обміняти куплені на нашому сайті товари. Процедуру повернення/обміну прописано у
                    відповідних законодавчих актах.</p>
                <h2>Як поміняти, повернути товар</h2>
                <p>
                    Обмін та/або повернення товару проводиться відповідно до Закону про захист прав споживачів.
                    Повернення/обмін можливе лише за умови дотримання таких умов:</p>
                <ul>
                    <li>від дня покупки пройшло не більше 14 діб;</li>
                    <li> іграшки (чи інші товари) не використовувалися;</li>
                    <li> збережено чеки, упаковку, ярлики.</li>
                </ul>


                <p>Повернення товару здійснюється однією з транспортних компаній, з якими працює наш магазин. Вартість
                    зворотного відправлення товару оплачує покупець. Детальну інформацію про особливості відправлення
                    товару, що повертається, нададуть наші консультанти.</p>
                <p>Після отримання товару фахівці магазину оцінять
                    товарний вигляд, наявність усіх деталей та аксесуарів, перевірятимуть справність та працездатність.
                    Якщо
                    претензій немає, магазин повертає гроші покупцю.</p>

                <p> Відповідно до Закону України, покупцю повертається сума, що відповідає вартості товару на момент
                    покупки. Кошти зараховуються на банківську картку, з якою оплачувався товар.
                </p>
                <h2>Повернення несправного товару</h2>
                <p>Для обміну несправного, бракованого товару, покупцю необхідно:</p>
                <ul>
                    <li>звернутися до нас не пізніше 14 діб з моменту покупки;</li>
                    <li>надати упаковку, чеки;</li>
                    <li>надати сам товар - він не повинен використовуватись.</li>
                </ul>

                <p> Співробітники компанії оглядають товар, переконуються у його несправності, наявності чеків,
                    упакування,
                    складових частин. Якщо товар несправний, а гарантійні умови експлуатації були дотримані, покупцеві
                    повертаються гроші або пропонується відповідний товар на обмін, якщо він є.</p>

                <h2>Повернення несправного товару</h2>
                <p>Відмова від повернення <br>
                    В окремих випадках приймається рішення відмовити у поверненні грошей чи обміні товар на новий:</p>
                <ul>
                    <li>з дати покупки пройшло більше 14 діб;</li>
                    <li> немає чека та/або іншого документа, що підтверджує покупку;</li>
                    <li>товар використовувався, видно сліди його експлуатації;</li>
                    <li> відсутні окремі деталі, аксесуари, складові;</li>
                    <li> при дослідженні виявлено сліди втручання – спроба розбору, ремонту тощо;</li>
                    <li> виявлено інші порушення умов експлуатації та гарантійного обслуговування (удари, інші механічні
                        дії, занурення у воду тощо).
                    </li>
                </ul>
                <h2>Які товари не підлягають поверненню</h2>
                <p>Кабінет Міністрів України встановив перелік товарів належної якості, для яких не передбачено
                    процедури
                    обміну/повернення. Серед них – іграшки та товари для дітей. Зокрема, це:
                </p>
                <ul>
                    <li> санітарно-гігієнічні вироби;</li>
                    <li>пухові та пір'яні вироби;</li>
                    <li>косметика, парфумерія та подібні вироби;</li>
                    <li> м'які та гумові надувні дитячі іграшки;</li>
                    <li> нижню білизну;</li>
                    <li>продукція для немовлят - соски, пелюшки, пляшечки для годування та ін.</li>
                </ul>
                <h2>Обратите внимание!</h2>
                <p>Сотрудники магазина Toys4you всегда проверяют товар перед отправкой. При получении его в офисе
                    транспортной компании рекомендуем покупателям убедиться в целостности упаковки, в надлежащем внешнем
                    виде и работоспособности.
                </p>


            </div>
            <div class="button-wrapper">
                <a href="" class="button button-green text-base md:text-lg px-8 py-2 md:py-3">Перейти до покупок</a>
            </div>
        </div>
    </section>

{% endblock %}
