{% extends 'layouts/main.twig' %}
{% block content %}
	<div class="main-container">
		<div class="tablet-catalog-button button inline-flex xl:hidden text-base md:text-lg px-8 py-2 md:py-3 mb-0 md:mb-2 w-full">
			<img src="img/icons/category-icon.svg" alt="" class="me-2 md:me-3 w-6 md:w-8 h-6 md:h-8 shrink-0">Каталог
																																																																																															                    товарів
		</div>
	</div>
	<div class="breadcrumbs-wrapper pb-2 ipad:pb-4">
		<div class="main-container">
			<ul class="breadcrumbs flex flex-wrap pt-6 items-center ">
				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1">
					<a href="" class=""><img src="img/icons/home-icon.svg" alt="" class="text-violet-600 ">
					</a>
				</li>
                <li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1 text-violet-600 opacity-50 hover:opacity-100 ease-in-out duration-300">
					<a href="">Новини 
					</a>
				</li>
				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1 text-violet-600">
					<a href="">Як мотивувати дитину займатися спортом 
					</a>
				</li>
			</ul>
		</div>
	</div>

    <article class="pt-2 ipad:pt-3 pb-2 md:pb-5 ipad:pb-6">
        <div class="pb-4 md:pb-6 border-b border-b-gray-200">
            <div class="main-container">
                <div class="flex items-center justify-center overflow-hidden w-[calc(100%+40px)] md:w-[calc(100%+80px)]  -mx-5 md:-mx-10  mb-4 md:mb-6 aspect-[1/0.39]">
                    <img src="img/news/news1.png" alt="" class="w-full h-full object-cover">
                </div>
                <div class="one-news-top-info">
                
                    <h1 class="text-xl md:text-2xl xl:text-[32px] mb-2 md:mb-4 xl:mb-8 font-medium">Як мотивувати дитину займатися спортом</h1>
                    <div class="flex items-center font-light text-xs md:text-xl">
                        <div class="me-8">15.06.23</div>
                        <div class="">Автор: Дмитро</div>
                    </div>
                </div>
            </div>
        </div>
            <div class="container">
                <div class="one-news-content">
                    <p>Кожен знає про важливість спорту здоров'ю людини. І, природно, дбайливі батьки прагнуть долучити
                        своїх дітей до активного способу життя. Але не завжди дитина з наснагою крутить педалі
                        велосипеда,
                        або з ентузіазмом збирається на чергове тренування. Буває, що улюблене чадо всіма
                        силамиvупирається,
                        вередує і в результаті, з похмурим виразом обличчя тяп-ляп виконує необхідні вправи, щоб потім
                        знову
                        вмоститися на дивані.Що ж зробити, щоб дитина сама захотіла займатися спортом? Про це ви
                        дізнаєтесь
                        у цій статті.</p>
                    <p>Найголовніше у будь-якій справі – це мотивація. Жоден дорослий нічого не робитиме без
                        спокусливого
                        стимулу - чи то зарплата, задоволення чи гордість собою від результатуТак само і з дитиною,
                        головне
                        підібрати саме те, заради чого варто докласти зусиль.</p>
                    <p>Найпростіша мотивація для дитини – приклад для наслідування. Ідеально, коли батьки ведуть
                        активний
                        спосіб життя: регулярно ходять до зали, бігають чи катаються велосипедом. Тоді для дитини спорт
                        буде
                        невід'ємною частиною життя, а всі складнощі, пов'язані з нею, сприйматимуться як належне.Адже
                        він з
                        самого дитинства бачитиме, як мама і тато тренуються, і намагатиметься бути схожим на них.</p>
                    <p>Якщо спорт не є частиною життя сім'ї, є два варіанти. Можна почати займатися разом: бігати всією
                        сім'єю вранці, або записатися на танці для дорослих та для дітей, а через час порівняти
                        результати,
                        влаштувавши танцювальний баттл. Заради додаткового спілкування з батьками більшість дітей з
                        радістю
                        відкладуть решту справ на потім.</p>
                    <p>Або ж, як приклад можна використовувати улюбленого персонажа дитини, чи то супергерой, персонаж з
                        мультика, чи реальна людина. Діти часто намагаються бути схожими на своїх кумирів, головне м'яко
                        направити дитину в ту сферу, де вона може досягти потрібних результатів. Наприклад, звертати
                        увагу
                        на те, що займаючись карате, можна стати непереможним як черепашки-ніндзя, або на гімнастиці
                        розвинути таку ж гнучкість, як у шпигуна.</p>
                    <p>При виборі спортивної секції, головне, на що потрібно звертати увагу, - це переваги дитини.
                        Часто,
                        причина небажання ходити на тренування полягає в тому, що він хоче займатися футболом, а батьки
                        вирішили, що басейн буде кориснішим, і взагалі туди добиратися зручніше, і графік краще, і ще
                        багато
                        інших факторів, які впливають на вибір дорослих. Ось тільки користі від нелюбимого виду спорту
                        буде
                        мало, а то й зовсім зникне бажання чимось займатися. А якщо перед ухваленням рішення порадитись
                        з
                        дитиною, і дозволити їй зробити вибір самому, то й ставлення до тренувань буде зовсім інше –
                        адже
                        йому ніхто не вказував, він сам ухвалив рішення. До того ж, величезною мотивацією є саме
                        задоволення
                        від заняття. Батькам залишиться лише хвалити дитину за найменші успіхи, а більші досягнення
                        весело
                        відзначати всією сім'єю в кафе з морозивом або в дитячій ігровій.</p>
                    <h3>Для того, щоб у дитини виник інтерес до спорту, необхідно створити для цього умови:</h3>
                    <ul>
                        <li>Часто виходите на довгу пішу прогулянку, заходьте на спортмайданчики, грайте у спортивні
                            ігри;
                        </li>
                        <li>Говоріть про важливість спорту та здорового способу життя, дивіться документальні та художні
                            фільми, показуйте мотивуючі ролики з інтернету;
                        </li>
                        <li>Не поспішайте купувати електричний дитячий транспорт, адже з електромобіля потім швидше
                            захочеться пересісти на електросамокат, ніж велосипед, де потрібно крутити педалі і тримати
                            баланс.
                        </li>
                    </ul>
                    <p>Діти за своєю природою дуже активні та допитливі. З невеликою допомогою та підтримкою від
                        батьків,
                        вони обов'язково зростатимуть спортивними, бадьорими та здоровими.</p>
                </div>
            </div>
    </article>
	<section class="pt-2 md:pt-4 xl:pt-6 pb-2 md:pb-4 xl:pb-6">
		<div class="main-container">

			<h2 class="block-title">Найпопулярніщі новини</h2>
			<div class="popular-news-slider-wrapper px-9 md:px-0  grid  relative ">
				<div class="button-prev-slide green w-3  h-5 md:hidden absolute left-0 top-[50%] z-10 cursor-pointer opacity-30 hover:opacity-100 rotate-180 bg-contain -translate-y-1/2" style="background-image: url(../img/icons/slider-next-arrows-green.svg)"></div>
				<div class="button-next-slide green w-3 h-5 md:hidden absolute right-0 top-[50%] z-10 cursor-pointer opacity-30 hover:opacity-100  bg-contain -translate-y-1/2" style="background-image: url(../img/icons/slider-next-arrows-green.svg)"></div>
				<div class="popular-news-slider swiper">
					<div class="swiper-wrapper ">
						<div class="swiper-slide pb-4 ">
							<div class="pb-3 ipad:pb-5 px-3 ipad:px-5 bg-white flex flex-col h-full shadow-[4px_4px_15px_0_rgba(46,46,46,.1)] rounded-lg">
								<a href="" class="flex items-center justify-center overflow-hidden -mx-3 ipad:-mx-5 aspect-[1/0.62] rounded-lg mb-2 md:mb-3 block-area shrink-0 group ">
									<img src="./img/main/news1.png" alt="" class="w-full h-full object-cover group-hover:scale-110 duration-500 ease-in-out">
								</a>
								<div class="flex justify-between mb-3">
									<div class="text-[10px] md:text-xs font-light">15.06.23</div>
									<div class="text-[10px] md:text-xs font-light">Автор: Дмитро</div>
								</div>
								<a href="" class="text-sm md:text-lg ipad:text-xl font-medium mb-1 mb:mb-3 hover:text-violet-600">Як мотивувати дитину займатися спортом</a>
								<div class="mt-auto text-[10px] md:text-base ipad:text-lg line-clamp-2 overflow-hidden">
									Кожен знає про важливість спорту здоров'ю людини. І, звичайно...
								</div>
							</div>
						</div>
						<div class="swiper-slide pb-4 ">
							<div class="pb-3 ipad:pb-5 px-3 ipad:px-5 bg-white flex flex-col h-full shadow-[4px_4px_15px_0_rgba(46,46,46,.1)] rounded-lg">
								<a href="" class="flex items-center justify-center overflow-hidden -mx-3 ipad:-mx-5 aspect-[1/0.62] rounded-lg mb-2 md:mb-3 block-area shrink-0 group ">
									<img src="./img/main/news2.png" alt="" class="w-full h-full object-cover group-hover:scale-110 duration-500 ease-in-out">
								</a>
								<div class="flex justify-between mb-3">
									<div class="text-[10px] md:text-xs  font-light">15.06.23</div>
									<div class="text-[10px] md:text-xs  font-light">Автор: Дмитро</div>
								</div>
								<a href="" class="text-sm md:text-lg ipad:text-xl font-medium mb-1 mb:mb-3 hover:text-violet-600">Які ігри необхідні дошкільнику</a>
								<div class="mt-auto text-[10px] md:text-base ipad:text-lg line-clamp-2 overflow-hidden">
									Розумовий розвиток дитини молодшого віку формується та...
								</div>
							</div>
						</div>
						<div class="swiper-slide pb-4 ">
							<div class="pb-3 ipad:pb-5 px-3 ipad:px-5 bg-white flex flex-col h-full shadow-[4px_4px_15px_0_rgba(46,46,46,.1)] rounded-lg">
								<a href="" class="flex items-center justify-center overflow-hidden -mx-3 ipad:-mx-5 aspect-[1/0.62] rounded-lg mb-2 md:mb-3 block-area shrink-0 group ">
									<img src="./img/main/news3.png" alt="" class="w-full h-full object-cover group-hover:scale-110 duration-500 ease-in-out">
								</a>
								<div class="flex justify-between mb-3">
									<div class="text-[10px] md:text-xs  font-light">15.06.23</div>
									<div class="text-[10px] md:text-xs  font-light">Автор: Дмитро</div>
								</div>
								<a href="" class="text-sm md:text-lg ipad:text-xl font-medium mb-1 mb:mb-3 hover:text-violet-600">Як навчити дитину читати?</a>
								<div class="mt-auto text-[10px] md:text-base ipad:text-lg line-clamp-2 overflow-hidden">
									Батьки часто цікавляться, у якому віці необхідно починати своїх малюків...
								</div>
							</div>
						</div>
						<div class="swiper-slide pb-4 ">
							<div class="pb-3 ipad:pb-5 px-3 ipad:px-5 bg-white flex flex-col h-full shadow-[4px_4px_15px_0_rgba(46,46,46,.1)] rounded-lg">
								<a href="" class="flex items-center justify-center overflow-hidden -mx-3 ipad:-mx-5 aspect-[1/0.62] rounded-lg mb-2 md:mb-3 block-area shrink-0 group ">
									<img src="./img/main/news4.png" alt="" class="w-full h-full object-cover group-hover:scale-110 duration-500 ease-in-out">
								</a>
								<div class="flex justify-between mb-3">
									<div class="text-[10px] md:text-xs  font-light">15.06.23</div>
									<div class="text-[10px] md:text-xs  font-light">Автор: Дмитро</div>
								</div>
								<a href="" class="text-sm md:text-lg ipad:text-xl font-medium mb-1 mb:mb-3 hover:text-violet-600">Про безкоштовне переадресування в межах міста від
																											                                        Нова Пошта</a>
								<div class="mt-auto text-[10px] md:text-base ipad:text-lg line-clamp-2 overflow-hidden">
									Шановний Клієнте! Раді Вам повідомити, що з 13 квітня послуга...
								</div>
							</div>
						</div>
						<div class="swiper-slide pb-4 ">
							<div class="pb-3 ipad:pb-5 px-3 ipad:px-5 bg-white flex flex-col h-full shadow-[4px_4px_15px_0_rgba(46,46,46,.1)] rounded-lg">
								<a href="" class="flex items-center justify-center overflow-hidden -mx-3 ipad:-mx-5 aspect-[1/0.62] rounded-lg mb-2 md:mb-3 block-area shrink-0 group ">
									<img src="./img/main/news1.png" alt="" class="w-full h-full object-cover group-hover:scale-110 duration-500 ease-in-out">
								</a>
								<div class="flex justify-between mb-3">
									<div class="text-[10px] md:text-xs  font-light">15.06.23</div>
									<div class="text-[10px] md:text-xs  font-light">Автор: Дмитро</div>
								</div>
								<a href="" class="text-sm md:text-lg ipad:text-xl font-medium mb-1 mb:mb-3 hover:text-violet-600">Як мотивувати дитину займатися спортом</a>
								<div class="mt-auto text-[10px] md:text-base ipad:text-lg line-clamp-2 overflow-hidden">
									Кожен знає про важливість спорту здоров'ю людини. І, звичайно...
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</section>
{% endblock %}
