{% extends 'layouts/main.twig' %}
{% block content %}
	<div class="main-container">
		<div class="tablet-catalog-button button inline-flex xl:hidden text-base md:text-lg px-8 py-2 md:py-3 mb-0 md:mb-2 w-full">
			<img src="img/icons/category-icon.svg" alt="" class="me-2 md:me-3 w-6 md:w-8 h-6 md:h-8 shrink-0">Каталог
																																																																																																		                    товарів
		</div>
	</div>
	<div class="auth py-2 md:py-4 ipad:py-12">
		<div class="main-container">
			<div class="auth-block-wrapper w-[calc(100%+30px)] md:w-full max-w-[732px] rounded-[20px] border md:border-[2px] border-teal-500 -mx-[15px] md:mx-auto py-5 md:py-12 px-4 md:px-[82px] bg-[linear-gradient(117deg,rgba(111,64,221,.05)2.32%,rgba(0,181,152,.05)96.72%)] backdrop-blur-lg">
				<form class="auth-form mb-3 md:mb-4">
					<div class="text-xs md:text-sm mb-2 font-light">Відновлення паролю</div>
					<div class="input-wrapper relative w-full mb-2 md:mb-4">
						<img src="./img/icons/mail-auth-icon.svg" alt="" class="auth-icon">
						<input type="text" class="input" placeholder="E-mail">
					</div>
					<div class="button-wrapper">
						<button class="button button-green text-base md:text-lg px-8 py-2 md:py-3 w-full">Отримати тимчасовий пароль</button>
					</div>
				</form>
				<div class="auth-block-bottom">
					<div class="flex justify-center">
						<a href="" class="mb-3 md:mb-4 mx-auto text-teal-500 hover:text-teal-500 hover:underline">Повернутися назад</a>
					</div>
					<div class="text-xs md:text-sm text-center font-light mb-2 md:mb-3">Увійти за допомогою</div>
					<div class="flex justify-center items-center mb-3 md:mb-6">
						<a href="" class="w-8 me-2"><img src="img/icons/facebook-icon.svg" alt="" class="w-full h-auto object-contain"></a>
						<a href="" class="w-8 me-2"><img src="img/icons/google-icon.svg" alt="" class="w-full h-auto object-contain"></a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
