{% extends 'layouts/main.twig' %}
{% block content %}
	<div class="main-container">
		<div class="tablet-catalog-button button inline-flex xl:hidden text-base md:text-lg px-8 py-2 md:py-3 mb-0 md:mb-2 w-full">
			<img src="./img/icons/category-icon.svg" alt="" class="me-2 md:me-3 w-6 md:w-8 h-6 md:h-8 shrink-0">Каталог товарів
		</div>
	</div>
	<div class="breadcrumbs-wrapper pb-2 ipad:pb-4">
		<div class="main-container">
			<ul class="breadcrumbs flex flex-wrap pt-6 items-center ">
				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1">
					<a href="" class=""><img src="img/icons/home-icon.svg" alt="" class="text-violet-600 ">
					</a>
				</li>

				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1 text-violet-600">
					<a href="">
						Карта сайту
					</a>
				</li>
			</ul>
		</div>
	</div>
	<section class="pt-2 ipad:pt-3 pb-2 md:pb-5 ipad:pb-6">
		<div class="main-container">
			<h1 class="text-xl md:text-2xl xl:text-[32px] mb-2 md:mb-4 xl:mb-8 font-medium">
				Карта сайту
			</h1>
			<div class="grid ipad:grid-cols-2 ">
				<div class="text-sm md:text-lg text-violet-500 ">
					<ul class="list-disc my-2 ps-6 flex flex-col gap-1">
						<li>
							<a href="">Все буде Україна</a>
						</li>
						<li>
							<a href="">ДЛЯ УЛЮБЛЕНИХ</a>
						</li>
						<li>
							<a href="">Картини за номерами</a>
						</li>
						<li>
							<a href="">Алмазна мозаїка</a>
						</li>
						<li>
							<a href="">КРУЧЕ КРУТОГО</a>
						</li>
						<li>
							<a href="">БРЕНДИ</a>
							<ul class="list-disc my-2 ps-6 flex flex-col gap-1">
								<li>
									<a href="">ТМ AKUKU</a>
								</li>
								<li>
									<a href="">ТМ ART SHOW</a>
								</li>
								<li>
									<a href="">ТМ ArtStory</a>
								</li>
								<li>
									<a href="">ТМ BAMSIC</a>
								</li>
								<li>
									<a href="">ТМ BESTWAY</a>
								</li>
								<li>
									<a href="">ТМ Bombat Game</a>
								</li>
								<li>
									<a href="">ТМ Brushme</a>
								</li>
								<li>
									<a href="">ТМ Crayola</a>
								</li>
								<li>
									<a href="">ТМ Danko Toys</a>
									<ul class="list-disc my-2 ps-6 flex flex-col gap-1">
										<li>
											<a href="">М'які антистрес іграшки</a>
										</li>
										<li>
											<a href="">Тісто для ліплення</a>
										</li>
										<li>
											<a href="">Кінетичний пісок</a>
										</li>
										<li>
											<a href="">Enfant</a>
										</li>
										<li>
											<a href="">Пазли</a>
										</li>
										<li>
											<a href="">Асоціації, лото, головоломки</a>
										</li>
										<li>
											<a href="">Ігри великі</a>
										</li>
										<li>
											<a href="">Новинки</a>
										</li>
										<li>
											<a href="">Набір для творчості ТМ Danko Toys</a>
										</li>
										<li>
											<a href="">Ігри малі</a>
										</li>
										<li>
											<a href="">Набір для боксу</a>
										</li>
										<li>
											<a href="">Книги</a>
										</li>
										<li>
											<a href="">Міні ігри</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="text-sm md:text-lg text-violet-500">
					<ul class="list-disc my-2 ps-6 flex flex-col gap-1">
						<li>
							<a href="">Акції</a>
						</li>
						<li>
							<a href="">Кабінет</a>
						</li>
						<li>
							<a href="">Особиста інформація</a>
						</li>
						<li>
							<a href="">Пароль</a>
						</li>
						<li>
							<a href="">Мої адреси</a>
						</li>
						<li>
							<a href="">Історія замовлень</a>
						</li>
						<li>
							<a href="">Завантаження</a>
						</li>
						<li>
							<a href="">Перейти до кошику</a>
						</li>
						<li>
							<a href="">Оформити замовлення</a>
						</li>
						<li>
							<a href="">Введіть ключове слово для пошуку</a>
						</li>
					</ul>
					<div class="md:text-xl font-medium my-5 text-gray-900">
						Інформація
					</div>
					<ul class="list-disc my-2 ps-6 flex flex-col gap-1">
						<li>
							<a href="">Гарантія та повернення</a>
						</li>
						<li>
							<a href="">Договір публічної оферти</a>
						</li>
						<li>
							<a href="">Умови використання</a>
						</li>
						<li>
							<a href="">Про нас</a>
						</li>
						<li>
							<a href="">Оплата і доставка</a>
						</li>
						<li>
							<a href="">Угода користувача</a>
						</li>
						<li>
							<a href="">Контакти</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</section>{% endblock %}
