{% extends 'layouts/main.twig' %}
{% block content %}
	<div class="main-container">
		<div class="tablet-catalog-button button inline-flex xl:hidden text-base md:text-lg px-8 py-2 md:py-3 mb-0 md:mb-2 w-full">
			<img src="img/icons/category-icon.svg" alt="" class="me-2 md:me-3 w-6 md:w-8 h-6 md:h-8 shrink-0">Каталог
																																																																																															                    товарів
		</div>
	</div>
	<div class="breadcrumbs-wrapper pb-2 ipad:pb-4">
		<div class="main-container">
			<ul class="breadcrumbs flex flex-wrap pt-6 items-center ">
				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1">
					<a href="" class=""><img src="img/icons/home-icon.svg" alt="" class="text-violet-600 ">
					</a>
				</li>

				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1 text-violet-600">
					<a href="">Умови використання 
					</a>
				</li>
			</ul>
		</div>
	</div>
	<section class="info-section">
        <div class="main-container">
            <div class="info-section-content">
                <h2>Умови використання</h2>
                <p>1. Магазин може змінювати зовнішній вигляд та дизайн сайту, тимчасово зупиняти роботу сайту для
                    проведення профілактичних дій без попередження клієнтів. Сайт та його послуги можуть бути тимчасово
                    недоступні через профілактичні дії, поломки або інші особливості, пов'язані з технічною стороною
                    використання.</p>

                <p>   2. Магазин не несе відповідальності за проблеми, пов'язані з технічною стороною обслуговування
                    сайту. Це стосується різноманітних збоїв, видалення особистих даних з кабінету клієнта, затримок в
                    обробці замовлення. Магазин ніяк не може впливати на роботу комунікаційних систем,
                    інтернет-провайдерів і телефонних операторів. 3. Магазин гарантує дотримання чинного законодавства
                    України, зокрема, законодавства про захист прав споживача.</p>

                <p>   4. Магазин залишає за собою право проводити перевірку інформації, наданої клієнтом, аж до
                    пред'явлення посвідчення особи, документів та інших даних згідно з чинним Законом України. У разі
                    відмови від надання документів, що ідентифікують, магазин має право відмовити клієнту у використанні
                    сайту.5. Магазин має право зв'язуватися з клієнтом за вказаними контактними даними в особистому
                    кабінеті, проводити консультації, підтверджувати оплату та замовлення, зроблені на сайті.</p>

                <p>    6. Магазин має право вимагати оплату в повному обсязі після замовлення товару на сайті.7. Магазин
                    залишає за собою право використовувати надані клієнтом дані після реєстрації з метою
                    інформаційно-маркетингового розсилання та інших повідомлень рекламного характеру. Інформація про
                    нові надходження, акції, знижки, пропозиції надходитиме на вказану адресу електронної пошти та
                    чинний особистий номер клієнта, вказаний при реєстрації. Погоджуюсь на обробку особистих даних, тим
                    самим клієнт підтверджує свою участь у маркетинговій розсилці.</p>

                <p>   8. Магазин залишає за собою право відмовити в оформленні замовлення без пояснень та повернути
                    клієнту сплачені гроші.</p>
                <h2>Права та обов'язки клієнта</h2>
                <p>9. Клієнт зі свого боку зобов'язуються виконувати умови користувальницького договору та дотримуватись
                    правил магазину. Якщо клієнту не зрозумілі умови магазину чи умови оформлення, оплати замовлення,
                    він може уточнити у магазину порядок дій по зазначеним на сайті контактам.</p>

                <p>   10. Погоджуючись з умовами обробки персональних даних, клієнт тим самим погоджується з умовами
                    використання умовами сайту та зобов'язується виконувати їх у повному обсязі. Якщо клієнт не
                    влаштовує умови реєстрації та обробки персональних даних, він може відмовитися від співпраці з
                    магазином.11. Перед замовленням клієнт зі свого боку зобов'язуються перевіряти актуальність даних
                    та точність зробленого замовлення.</p>

                <p>    12. Клієнт зобов'язується оплачувати замовлення у повному обсязі.</p>

                <p>    13. Клієнт має право пред'явити претензію при недотриманні правил з боку магазину, вимагати
                    виконання умов користувальницької угоди.</p>
            </div>
            <div class="button-wrapper">
                <a href="" class="button button-green text-base md:text-lg px-8 py-2 md:py-3">Перейти до покупок</a>
            </div>
        </div>
    </section>

{% endblock %}
