{% extends 'layouts/main.twig' %}
{% block content %}
	<div class="main-container">
		<div class="tablet-catalog-button button inline-flex xl:hidden text-base md:text-lg px-8 py-2 md:py-3 mb-0 md:mb-2 w-full">
			<img src="img/icons/category-icon.svg" alt="" class="me-2 md:me-3 w-6 md:w-8 h-6 md:h-8 shrink-0">Каталог
																																																																																															                    товарів
		</div>
	</div>
	<div class="breadcrumbs-wrapper pb-2 ipad:pb-4">
		<div class="main-container">
			<ul class="breadcrumbs flex flex-wrap pt-6 items-center ">
				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1">
					<a href="" class=""><img src="img/icons/home-icon.svg" alt="" class="text-violet-600 ">
					</a>
				</li>

				<li class="breadcrumbs-item text-sm font-light inline-flex items-center mb-1 text-violet-600">
					<a href="">Угода Користувача 
					</a>
				</li>
			</ul>
		</div>
	</div>
	<section class="info-section">
        <div class="main-container">
           <div class="info-section-content">
                <h2>Угода Користувача</h2>
                <p>Дана Угода користувача (Далі Угода) регулює відносини між власником https://toys4you.com.ua/ (далі
                    Інтернет магазин іграшок Toys4you або Адміністрація) з одного боку та користувачем сайту з
                    іншого.</p>
                <p>Сайт Інтернет-магазин іграшок Toys4you не є засобом масової інформації.</p>
                <p> Використовуючи сайт, Ви погоджуєтесь з умовами цієї угоди.</p>
                <p><b>Якщо Ви не погоджуєтесь з умовами цієї угоди, не використовуйте сайт Інтернет магазин іграшок
                    Toys4you!</b></p>
                <h2>Права та обов'язки сторін</h2>
                <p><b>Користувач має право:</b></p>

                <p>- здійснювати пошук інформації на сайті</p>
                <p>- отримувати інформацію на сайті</p>
                <p> - Копіювати інформацію на інші сайти із зазначенням джерела</p>
                <p> - Використовувати інформацію сайту в особистих некомерційних цілях</p>
                <p><b>Адміністрація має право:</b></p>

                <p> - на свій розсуд та необхідність створювати, змінювати, скасовувати правила</p>

                <p> - обмежувати доступ до будь-якої інформації на сайті</p>

                <p> - створювати, змінювати, видаляти інформацію</p>

                <p><b>Користувач зобов'язується:</b>

                </p><p> - Забезпечувати збереження особистих даних від доступу третіх осіб</p>

                <p> - не поширювати інформацію, спрямовану на пропаганду війни, розпалювання національної, расової чи
                    релігійної ненависті та ворожнечі, а також іншої інформації, за поширення якої передбачено
                    кримінальну чи адміністративну відповідальність</p>

                <p> - не порушувати працездатність сайту</p>

                <p> - не вчиняти дії, спрямовані на введення інших Користувачів в оману</p>

                <p> - не використовувати скрипти (програми) для автоматизованого збору інформації та/або взаємодії з
                    Сайтом та його Сервісами</p>
                <p><b>Адміністрація зобов'язується:</b></p>

                <p>- підтримувати працездатність сайту за винятком випадків, коли це неможливо з незалежних від
                    Адміністрації причин.</p>

                <p> - здійснювати різнобічний захист облікового запису Користувача</p>
                <h2>Відповідальність сторін</h2>
                <p>- адміністрація не несе жодної відповідальності за послуги, що надаються третіми особами</p>

                <p>- у разі виникнення форс-мажорної ситуації (бойові дії, надзвичайний стан, стихійне лихо і т. д.)
                Адміністрація не гарантує збереження інформації, розміщеної Користувачем, а також безперебійну роботу
                    інформаційного ресурсу</p>
                <h2>Умови дії Угоди</h2>
                <p>Ця Угода набирає чинності за будь-якого використання цього сайту.</p>

                <p>Угода перестає діяти у разі появи нової версії.</p>

                <p>Адміністрація залишає за собою право в односторонньому порядку змінювати цю угоду на власний розсуд.</p>

                <p> У разі зміни угоди, в деяких випадках, адміністрація може сповістити користувачів зручним для неї способом.</p>

            </div>
            <div class="button-wrapper">
                <a href="" class="button button-green text-base md:text-lg px-8 py-2 md:py-3">Перейти до покупок</a>
            </div>
        </div>
    </section>

{% endblock %}
