<header class="header pt-5 lg:pt-8">
    <div class="main-container mx-auto ">
        <div class="hidden md:flex justify-end mb-4 lg:0 ">
            <div class="flex lg:hidden  me-4 md:me-8 ">
                <a href="" class="text-xs me-2 px-2 py-1">РУС</a>
                <a href="" class="text-xs me-2 px-2 py-1 rounded  bg-violet-600 text-white">УКР</a>
            </div>
            <ul class="flex align-center ml-auto [&>*:last-child]:me-0">
                <li class="me-2"><a class="px-2 py-3 rounded-lg hover:bg-violet-600 hover:text-white ease-in-out duration-300" href="">Оплата і доставка</a></li>
                <li class="me-2"><a class="px-2 py-3 rounded-lg hover:bg-violet-600 hover:text-white ease-in-out duration-300"  href="">Бренды</a></li>
                <li class="me-2"><a class="px-2 py-3 rounded-lg hover:bg-violet-600 hover:text-white ease-in-out duration-300"  href="">Контакти</a></li>
                <li class="me-2"><a class="px-2 py-3 rounded-lg hover:bg-violet-600 hover:text-white ease-in-out duration-300"  href="">Бренды</a></li>
            </ul>
        </div>
        <div class="flex items-end mb-5 md:mb-6 xl:mb-8 ">
            <div class="menu-button block xl:hidden me-4 md:me-8 w-6  md:w-12 h-6 md:h-12"></div>
            <a href="" class="header-logo-wrapper w-9 md:w-16  xl:w-24 2xl:ms-14 me-4 md:me-6 lg:me-8 xl:me-16 2xl:me-24 shrink-0">
                <img src="./img/main-logo.png" alt="">
            </a>
            <div class="ps-6 xl:ps-9 xl:pt-2 relative me-6 xl:me-16 text-nowrap hidden lg:block">
                <img src="img/icons/phone-icon.svg" alt="" class="absolute w-5 xl:w-8 h-auto top-0 left-0">
                <a href="" class="xl:text-xl font-medium mb-2 ">+38 (063) 656 36 81</a>
                <div class="text-xs xl:text-base">Пн - Вс: 9.00 - 18.00</div>
            </div>
            <div class="header-search-wrapper relative z-0 max-w-[648] w-full  me-2 md:me-6 xl:me-20 ">
                <div class="overlay fixed inset-0 z-10 bg-black bg-opacity-40 hidden"></div>
                <form action="" class="header-search-form m-0">
                    <input type="text" class="header-search-input w-full py-3 md:py-3 pe-2 md:pe-4 ps-2 md:ps-14 rounded-lg border-gray-300 border outline-0 text-xs md:text-base" placeholder="Пошук...">
                    <button class="header-search-button w-8 h-8 absolute left-4 hidden md:block"></button>
                    <div class="button-delete"></div>
                </form>
                <div class="hidden header-search-results">
                    <div class="header-search-results-list">
                        <div class="header-search-results-item">
                            <a href="" class="item-link"><b>Лялька</b> рейнбоу</a>
                        </div>
                        <div class="header-search-results-item">
                            <a href="" class="item-link"><b>Лялька</b> з коляскою</a>
                        </div>
                        <div class="header-search-results-item">
                            <a href="" class="item-link"><b>Лялька</b> лікар</a>
                        </div>
                        <div class="header-search-results-item">
                            <div class="item-top">Перейти у категорію</div>
                            <a href="" class="item-link"><b>Аксесуари до ляльок і пупсів</b></a>
                        </div>
                        <div class="header-search-results-item">
                            <a href="" class="item-link"><b>Ляльки</b></a>
                        </div>
                    </div>
                    <div class="header-search-results-bottom">
                        <div class="results-quantity">Знайдено результатів <span>1039 </span></div>
                        <a href="" class="show-all">Показати всі</a>
                    </div>
                </div>
            </div>
            <div class="hidden lg:flex items-center [&>*:last-child]:me-0  me-12">
                <a href="" class="text-xs me-2 px-2 py-1">РУС</a>
                <a href="" class="text-xs me-2 px-2 py-1 rounded  bg-violet-600 text-white hover:text-white">УКР</a>
            </div>
            <div class="flex items-end grow [&>*:last-child]:me-0 ">
                <div class="relative flex rounded-2xl me-8 hidden xl:flex">
                    <a href="" class="flex items-end cursor-pointer  svg-hover-violet">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-8">
                            <g id="compare-normal (1) 1">
                                <path id="Vector" d="M20.4805 8.41016H27.4805" stroke="#2B2A29" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path id="Vector_2" d="M4.59766 8.41016H11.5977" stroke="#2B2A29" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path id="Vector_3"
                                      d="M13.2813 22.7741C13.2813 26.6862 10.5949 29.8574 7.28122 29.8574C3.96753 29.8574 1.28125 26.6862 1.28125 22.7741M13.2813 22.7741H1.28125M13.2813 22.7741L7.28122 12.8574L1.28125 22.7741"
                                      stroke="#2B2A29" stroke-linecap="round" stroke-linejoin="round"/>
                                <path id="Vector_4"
                                      d="M30.9961 22.7741C30.9961 26.6862 28.3098 29.8574 24.9961 29.8574C21.6824 29.8574 18.9961 26.6862 18.9961 22.7741M30.9961 22.7741H18.9961M30.9961 22.7741L24.9961 12.8574L18.9961 22.7741"
                                      stroke="#2B2A29" stroke-linecap="round" stroke-linejoin="round"/>
                                <path id="Vector_5"
                                      d="M15.9844 11.5234C18.1935 11.5234 19.9844 9.73258 19.9844 7.52344C19.9844 5.3143 18.1935 3.52344 15.9844 3.52344C13.7752 3.52344 11.9844 5.3143 11.9844 7.52344C11.9844 9.73258 13.7752 11.5234 15.9844 11.5234Z"
                                      stroke="#2B2A29"/>
                            </g>
                        </svg>

                    </a>
                </div>
                <div class="relative  rounded-2xl me-8 hidden md:flex">
                    <a href="" class="flex items-end cursor-pointer svg-hover-violet svg-active-violet">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2240_769)">
                                <path d="M26.0017 16.7629L16.0017 26.6669L6.0017 16.7629C5.34211 16.1211 4.82256 15.3496 4.47577 14.4971C4.12897 13.6446 3.96245 12.7295 3.98669 11.8095C4.01092 10.8895 4.22539 9.98442 4.61658 9.15135C5.00777 8.31829 5.56722 7.57524 6.25969 6.96901C6.95215 6.36278 7.76264 5.90649 8.64012 5.62888C9.51759 5.35127 10.443 5.25835 11.3582 5.35597C12.2733 5.45359 13.1584 5.73965 13.9575 6.19611C14.7567 6.65258 15.4527 7.26957 16.0017 8.00824C16.5531 7.27493 17.2499 6.66333 18.0485 6.21171C18.8471 5.76009 19.7304 5.47817 20.6429 5.3836C21.5555 5.28902 22.4778 5.38383 23.3521 5.66209C24.2263 5.94035 25.0337 6.39607 25.7238 7.00072C26.4138 7.60537 26.9716 8.34595 27.3623 9.17609C27.7529 10.0062 27.968 10.9081 27.9941 11.8252C28.0202 12.7423 27.8567 13.6549 27.5139 14.5059C27.171 15.3569 26.6562 16.128 26.0017 16.7709"
                                      stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_2240_769">
                                    <rect width="32" height="32" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                    <div class="flex items-center justify-center w-5 h-5 rounded-full bg-violet-600 absolute top-0 -right-5 text-xs text-white">1</div>
                </div>
                <div class="relative flex rounded-2xl me-6 ms:me-8">
                    <a href="" class="flex items-end cursor-pointer svg-hover-violet svg-active-violet">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 13.5L16.25 6L22.5 13.5" stroke="#6F40DD" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                            <path d="M27.5 13.5L25 23.5C24.8831 24.2165 24.5689 24.8591 24.1121 25.3159C23.6553 25.7727 23.0849 26.0147 22.5 26H10C9.41513 26.0147 8.84465 25.7727 8.38786 25.3159C7.93106 24.8591 7.61688 24.2165 7.5 23.5L5 13.5H27.5Z"
                                  stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.75 19.75C13.75 20.413 14.0134 21.0489 14.4822 21.5178C14.9511 21.9866 15.587 22.25 16.25 22.25C16.913 22.25 17.5489 21.9866 18.0178 21.5178C18.4866 21.0489 18.75 20.413 18.75 19.75C18.75 19.087 18.4866 18.4511 18.0178 17.9822C17.5489 17.5134 16.913 17.25 16.25 17.25C15.587 17.25 14.9511 17.5134 14.4822 17.9822C14.0134 18.4511 13.75 19.087 13.75 19.75Z"
                                  stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>


                    </a>
                    <div class="flex items-center justify-center w-5 h-5 rounded-full bg-violet-600 absolute top-0 -right-5 text-xs text-white">1</div>
                </div>
                <div class="relative rounded-2xl me-8 hidden xl:flex">
                    <a href="" class="flex items-end cursor-pointer">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5 10C11.5 11.3261 12.0268 12.5979 12.9645 13.5355C13.9021 14.4732 15.1739 15 16.5 15C17.8261 15 19.0979 14.4732 20.0355 13.5355C20.9732 12.5979 21.5 11.3261 21.5 10C21.5 8.67392 20.9732 7.40215 20.0355 6.46447C19.0979 5.52678 17.8261 5 16.5 5C15.1739 5 13.9021 5.52678 12.9645 6.46447C12.0268 7.40215 11.5 8.67392 11.5 10Z"
                                  stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9 27.5V25C9 23.6739 9.52678 22.4021 10.4645 21.4645C11.4021 20.5268 12.6739 20 14 20H19C20.3261 20 21.5979 20.5268 22.5355 21.4645C23.4732 22.4021 24 23.6739 24 25V27.5"
                                  stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </a>
                </div>
            </div>
        </div>
       {% include 'header-slider.twig' %}
       {% include "header-submenu-container.twig" %}

    </div>
    {% include "header-catalog-menu.twig" %}
    {% include "mobile-user-menu.twig" %}
</header>

<script>
    window.addEventListener('load', function () {
        initHeaderSlider(10)
    })
</script>

