<div class="header-slider-wrapper relative pb-9 hidden xl:block">
	<div class="button-prev-slide"></div>
	<div class="button-next-slide"></div>
	<div class="pagination"></div>
	<div class="header-slider swiper px-1">
		<div class="swiper-wrapper flex items-stretch h-auto">
			<div class="swiper-slide shrink-0">
				<div class="item group current h-24 flex flex-col items-center p-2 bg-white border border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="1">
					<div class="mb-2">
						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48049)">
								<path d="M20 10.668H20.0139" stroke="#6F40DD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M4 8C4 6.93913 4.42143 5.92172 5.17157 5.17157C5.92172 4.42143 6.93913 4 8 4H24C25.0609 4 26.0783 4.42143 26.8284 5.17157C27.5786 5.92172 28 6.93913 28 8V24C28 25.0609 27.5786 26.0783 26.8284 26.8284C26.0783 27.5786 25.0609 28 24 28H8C6.93913 28 5.92172 27.5786 5.17157 26.8284C4.42143 26.0783 4 25.0609 4 24V8Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M4 21.3331L10.6667 14.6664C11.904 13.4758 13.4293 13.4758 14.6667 14.6664L21.3333 21.3331" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M18.6641 18.6677L19.9974 17.3344C21.2347 16.1437 22.7601 16.1437 23.9974 17.3344L27.9974 21.3344" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48049">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Картини за номерами
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>

				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="2">
					<div class="mb-2">
						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48045)">
								<path d="M8 6.66797H24L28 13.3346L16.6667 26.0013C16.5798 26.09 16.476 26.1605 16.3616 26.2086C16.2471 26.2567 16.1242 26.2814 16 26.2814C15.8758 26.2814 15.7529 26.2567 15.6384 26.2086C15.524 26.1605 15.4202 26.09 15.3333 26.0013L4 13.3346L8 6.66797Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M13.3307 16.001L10.6641 13.0677L11.4641 11.7344" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48045">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Алмазна мозаїка
					</div>
								<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="3">
					<div class="mb-2">
						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48039)">
								<path d="M8 28L28 8L24 4L4 24L8 28Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M20 8L24 12" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M12.0026 4C12.0026 4.70724 12.2836 5.38552 12.7837 5.88562C13.2838 6.38572 13.962 6.66667 14.6693 6.66667C13.962 6.66667 13.2838 6.94762 12.7837 7.44772C12.2836 7.94781 12.0026 8.62609 12.0026 9.33333C12.0026 8.62609 11.7217 7.94781 11.2216 7.44772C10.7215 6.94762 10.0432 6.66667 9.33594 6.66667C10.0432 6.66667 10.7215 6.38572 11.2216 5.88562C11.7217 5.38552 12.0026 4.70724 12.0026 4Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M25.3307 17.334C25.3307 18.0412 25.6117 18.7195 26.1118 19.2196C26.6119 19.7197 27.2902 20.0007 27.9974 20.0007C27.2902 20.0007 26.6119 20.2816 26.1118 20.7817C25.6117 21.2818 25.3307 21.9601 25.3307 22.6673C25.3307 21.9601 25.0498 21.2818 24.5497 20.7817C24.0496 20.2816 23.3713 20.0007 22.6641 20.0007C23.3713 20.0007 24.0496 19.7197 24.5497 19.2196C25.0498 18.7195 25.3307 18.0412 25.3307 17.334Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48039">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Крутіше крутого
					</div>
				<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="4">
					<div class="mb-2">
						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48035)">
								<path d="M4.29233 7.78465C2.54966 7.58465 2.66566 7.01398 2.66566 6.72598C2.66566 6.43798 3.231 5.33398 8.45233 5.33398C14.711 5.33398 27.999 10.194 27.999 18.7233C27.999 27.2526 16.3857 25.298 14.0857 24.75C11.787 24.2007 6.66566 21.742 6.66566 19.1846C6.66566 17.3246 10.7723 16.0007 15.619 16.0007C20.4643 16.0007 22.6657 17.3887 22.6657 18.6673C22.6657 19.334 22.567 20.306 21.3323 20.6673" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M13.3604 10.666C13.2861 16.4436 13.2861 22.2218 13.3604 27.9993" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48035">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						БРЕНДИ
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="5">
					<div class="mb-2">
						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48103)">
								<path d="M7.33302 4C8.09571 3.99992 8.84679 4.18677 9.52053 4.54419C10.1943 4.90162 10.7702 5.41873 11.1978 6.05027C11.6254 6.68181 11.8917 7.40853 11.9734 8.16682C12.055 8.92512 11.9496 9.69188 11.6664 10.4C10.3873 11.0713 9.28109 12.0297 8.43436 13.2C7.79304 13.3567 7.12578 13.3755 6.47665 13.2552C5.82753 13.135 5.2113 12.8783 4.66869 12.5023C4.12608 12.1263 3.66942 11.6394 3.32889 11.0738C2.98836 10.5082 2.77171 9.87685 2.69324 9.22135C2.61477 8.56586 2.67627 7.90117 2.87368 7.2712C3.07109 6.64123 3.39992 6.06032 3.83844 5.56683C4.27697 5.07334 4.8152 4.67851 5.4176 4.40842C6.02 4.13833 6.67285 3.99913 7.33302 4Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M24.6666 4C25.3259 4.00067 25.9775 4.14101 26.5786 4.41177C27.1796 4.68254 27.7165 5.07757 28.1538 5.57087C28.5912 6.06416 28.919 6.64452 29.1158 7.2737C29.3126 7.90289 29.3738 8.56663 29.2955 9.22119C29.2171 9.87576 29.001 10.5063 28.6613 11.0713C28.3216 11.6363 27.8661 12.1229 27.3247 12.499C26.7833 12.8752 26.1684 13.1324 25.5204 13.2537C24.8724 13.375 24.2061 13.3576 23.5653 13.2027C22.7192 12.0308 21.6129 11.071 20.3333 10.3987C20.0503 9.69061 19.9451 8.92399 20.0269 8.16588C20.1088 7.40777 20.3751 6.68125 20.8027 6.04989C21.2303 5.41853 21.806 4.90156 22.4796 4.54421C23.1532 4.18685 23.9041 4 24.6666 4Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M6.66406 18.6673C6.66406 19.893 6.90548 21.1067 7.37452 22.239C7.84356 23.3714 8.53105 24.4003 9.39773 25.267C10.2644 26.1337 11.2933 26.8211 12.4257 27.2902C13.5581 27.7592 14.7717 28.0006 15.9974 28.0006C17.2231 28.0006 18.4367 27.7592 19.5691 27.2902C20.7015 26.8211 21.7304 26.1337 22.5971 25.267C23.4637 24.4003 24.1512 23.3714 24.6203 22.239C25.0893 21.1067 25.3307 19.893 25.3307 18.6673C25.3307 17.4416 25.0893 16.228 24.6203 15.0956C24.1512 13.9632 23.4637 12.9343 22.5971 12.0677C21.7304 11.201 20.7015 10.5135 19.5691 10.0444C18.4367 9.5754 17.2231 9.33398 15.9974 9.33398C14.7717 9.33398 13.5581 9.5754 12.4257 10.0444C11.2933 10.5135 10.2644 11.201 9.39773 12.0677C8.53105 12.9343 7.84356 13.9632 7.37452 15.0956C6.90548 16.228 6.66406 17.4416 6.66406 18.6673Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48103">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Мультигерої
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="6">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48028)">
								<path d="M15.9977 6.66602H20.6644C22.4325 6.66602 24.1282 7.36839 25.3784 8.61864C26.6287 9.86888 27.331 11.5646 27.331 13.3327C27.331 15.1008 26.6287 16.7965 25.3784 18.0467C24.1282 19.297 22.4325 19.9993 20.6644 19.9993H13.331L7.97772 25.6353C7.5198 26.1175 6.91758 26.4377 6.26183 26.5478C5.60607 26.6578 4.93231 26.5518 4.34206 26.2456C3.75182 25.9394 3.27709 25.4497 2.9894 24.8502C2.70171 24.2508 2.61665 23.574 2.74705 22.922L4.92572 12.0247C5.22813 10.5133 6.0449 9.15339 7.23705 8.17639C8.42919 7.19939 9.92304 6.66565 11.4644 6.66602H15.9977Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M18.6641 20.0004L24.0907 25.7124C24.5477 26.1933 25.1484 26.513 25.8025 26.6236C26.4566 26.7342 27.1289 26.6296 27.7186 26.3257C28.3083 26.0218 28.7835 25.5348 29.073 24.9379C29.3625 24.341 29.4506 23.6663 29.3241 23.0151L27.1907 12.0391" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M10.6641 12V14.6667" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M9.33594 13.334H12.0026" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M18.6641 13.334H21.3307" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48028">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Ігрові набори для дітей
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="7">
					<div class="mb-2">
						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48020)">
								<path d="M8 25.3346C8 26.0419 8.28095 26.7202 8.78105 27.2203C9.28115 27.7204 9.95942 28.0013 10.6667 28.0013C11.3739 28.0013 12.0522 27.7204 12.5523 27.2203C13.0524 26.7202 13.3333 26.0419 13.3333 25.3346C13.3333 24.6274 13.0524 23.9491 12.5523 23.449C12.0522 22.9489 11.3739 22.668 10.6667 22.668C9.95942 22.668 9.28115 22.9489 8.78105 23.449C8.28095 23.9491 8 24.6274 8 25.3346Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M21.3359 25.3327C21.3359 26.0399 21.6169 26.7182 22.117 27.2183C22.6171 27.7184 23.2954 27.9993 24.0026 27.9993C24.7098 27.9993 25.3881 27.7184 25.8882 27.2183C26.3883 26.7182 26.6693 26.0399 26.6693 25.3327C26.6693 24.6254 26.3883 23.9472 25.8882 23.4471C25.3881 22.947 24.7098 22.666 24.0026 22.666C23.2954 22.666 22.6171 22.947 22.117 23.4471C21.6169 23.9472 21.3359 24.6254 21.3359 25.3327Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M2.66406 6.66667H5.9974L8.1734 13.196C8.70434 14.7892 9.72318 16.1749 11.0856 17.1568C12.4479 18.1386 14.0847 18.6669 15.7641 18.6667H19.3307C21.2757 18.6667 23.1409 17.8941 24.5162 16.5188C25.8914 15.1435 26.6641 13.2783 26.6641 11.3333C26.6641 9.38841 25.8914 7.52315 24.5162 6.14788C23.1409 4.77262 21.2757 4 19.3307 4H18.6641V12" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M8 12H26.6667" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M12 22.668L13.3333 18.668" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M21.3359 18.666L22.6693 22.666" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48020">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Для малюків
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="8">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48016)">
								<path d="M10.6667 21.332L8.73733 22.2974C8.51589 22.408 8.32963 22.5781 8.1994 22.7887C8.06918 22.9992 8.00013 23.2418 8 23.4894V26.6654H24V23.4894C23.9999 23.2418 23.9308 22.9992 23.8006 22.7887C23.6704 22.5781 23.4841 22.408 23.2627 22.2974L21.3333 21.332H10.6667Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.9996 4.00035L13.3329 8.00035L8.67825 10.8644C8.43079 11.0164 8.23976 11.2451 8.13418 11.5157C8.0286 11.7862 8.01426 12.0839 8.09333 12.3634C8.17241 12.6428 8.34057 12.8888 8.57225 13.064C8.80394 13.2391 9.08648 13.3338 9.37691 13.3337H13.3329L10.5689 21.3337H21.1836L21.3329 14.667C21.3329 10.667 19.8796 6.68968 15.9996 5.33369C13.4129 4.42969 12.0796 3.98569 11.9996 4.00035Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48016">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Розвиваючі іграшки
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="9">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48010)">
								<path d="M18.6641 5.33398H26.6641V13.334H18.6641V5.33398Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M5.33594 18.666H13.3359V26.666H5.33594V18.666Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M18.6641 22.666C18.6641 23.7269 19.0855 24.7443 19.8356 25.4944C20.5858 26.2446 21.6032 26.666 22.6641 26.666C23.7249 26.666 24.7423 26.2446 25.4925 25.4944C26.2426 24.7443 26.6641 23.7269 26.6641 22.666C26.6641 21.6051 26.2426 20.5877 25.4925 19.8376C24.7423 19.0874 23.7249 18.666 22.6641 18.666C21.6032 18.666 20.5858 19.0874 19.8356 19.8376C19.0855 20.5877 18.6641 21.6051 18.6641 22.666Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M5.33594 9.33398C5.33594 9.85927 5.4394 10.3794 5.64042 10.8647C5.84144 11.35 6.13608 11.791 6.50751 12.1624C6.87894 12.5338 7.3199 12.8285 7.8052 13.0295C8.29051 13.2305 8.81065 13.334 9.33594 13.334C9.86123 13.334 10.3814 13.2305 10.8667 13.0295C11.352 12.8285 11.7929 12.5338 12.1644 12.1624C12.5358 11.791 12.8304 11.35 13.0315 10.8647C13.2325 10.3794 13.3359 9.85927 13.3359 9.33398C13.3359 8.8087 13.2325 8.28855 13.0315 7.80325C12.8304 7.31795 12.5358 6.87699 12.1644 6.50556C11.7929 6.13412 11.352 5.83948 10.8667 5.63847C10.3814 5.43745 9.86123 5.33398 9.33594 5.33398C8.81065 5.33398 8.29051 5.43745 7.8052 5.63847C7.3199 5.83948 6.87894 6.13412 6.50751 6.50556C6.13608 6.87699 5.84144 7.31795 5.64042 7.80325C5.4394 8.28855 5.33594 8.8087 5.33594 9.33398Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48010">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Конструктори
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="10">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48002)">
								<path d="M26.6693 4V17.3333C26.6693 20.1623 25.5455 22.8754 23.5451 24.8758C21.5447 26.8762 18.8316 28 16.0026 28C13.1736 28 10.4605 26.8762 8.46013 24.8758C6.45974 22.8754 5.33594 20.1623 5.33594 17.3333V4L9.91194 8.576C11.6983 7.32991 13.8246 6.66334 16.0026 6.66667C18.3613 6.66667 20.5399 7.432 22.3066 8.728L26.6693 4Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M2.66406 21.334H9.33073L3.9974 26.6673" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M29.3307 21.334H22.6641L27.9974 26.6673" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M14.6641 21.3333C14.6641 21.687 14.8045 22.0261 15.0546 22.2761C15.3046 22.5262 15.6438 22.6667 15.9974 22.6667C16.351 22.6667 16.6902 22.5262 16.9402 22.2761C17.1903 22.0261 17.3307 21.687 17.3307 21.3333C17.3307 20.9797 17.1903 20.6406 16.9402 20.3905C16.6902 20.1405 16.351 20 15.9974 20C15.6438 20 15.3046 20.1405 15.0546 20.3905C14.8045 20.6406 14.6641 20.9797 14.6641 21.3333Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M12 14.668V14.6813" stroke="#6F40DD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M20 14.668V14.6813" stroke="#6F40DD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48002">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						М'які іграшки
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="1">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48049)">
								<path d="M20 10.668H20.0139" stroke="#6F40DD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M4 8C4 6.93913 4.42143 5.92172 5.17157 5.17157C5.92172 4.42143 6.93913 4 8 4H24C25.0609 4 26.0783 4.42143 26.8284 5.17157C27.5786 5.92172 28 6.93913 28 8V24C28 25.0609 27.5786 26.0783 26.8284 26.8284C26.0783 27.5786 25.0609 28 24 28H8C6.93913 28 5.92172 27.5786 5.17157 26.8284C4.42143 26.0783 4 25.0609 4 24V8Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M4 21.3331L10.6667 14.6664C11.904 13.4758 13.4293 13.4758 14.6667 14.6664L21.3333 21.3331" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M18.6641 18.6677L19.9974 17.3344C21.2347 16.1437 22.7601 16.1437 23.9974 17.3344L27.9974 21.3344" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48049">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Картини за номерами
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="2">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48045)">
								<path d="M8 6.66797H24L28 13.3346L16.6667 26.0013C16.5798 26.09 16.476 26.1605 16.3616 26.2086C16.2471 26.2567 16.1242 26.2814 16 26.2814C15.8758 26.2814 15.7529 26.2567 15.6384 26.2086C15.524 26.1605 15.4202 26.09 15.3333 26.0013L4 13.3346L8 6.66797Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M13.3307 16.001L10.6641 13.0677L11.4641 11.7344" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48045">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Алмазна мозаїка
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="3">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48039)">
								<path d="M8 28L28 8L24 4L4 24L8 28Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M20 8L24 12" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M12.0026 4C12.0026 4.70724 12.2836 5.38552 12.7837 5.88562C13.2838 6.38572 13.962 6.66667 14.6693 6.66667C13.962 6.66667 13.2838 6.94762 12.7837 7.44772C12.2836 7.94781 12.0026 8.62609 12.0026 9.33333C12.0026 8.62609 11.7217 7.94781 11.2216 7.44772C10.7215 6.94762 10.0432 6.66667 9.33594 6.66667C10.0432 6.66667 10.7215 6.38572 11.2216 5.88562C11.7217 5.38552 12.0026 4.70724 12.0026 4Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M25.3307 17.334C25.3307 18.0412 25.6117 18.7195 26.1118 19.2196C26.6119 19.7197 27.2902 20.0007 27.9974 20.0007C27.2902 20.0007 26.6119 20.2816 26.1118 20.7817C25.6117 21.2818 25.3307 21.9601 25.3307 22.6673C25.3307 21.9601 25.0498 21.2818 24.5497 20.7817C24.0496 20.2816 23.3713 20.0007 22.6641 20.0007C23.3713 20.0007 24.0496 19.7197 24.5497 19.2196C25.0498 18.7195 25.3307 18.0412 25.3307 17.334Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48039">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Крутіше крутого
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="4">

					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48035)">
								<path d="M4.29233 7.78465C2.54966 7.58465 2.66566 7.01398 2.66566 6.72598C2.66566 6.43798 3.231 5.33398 8.45233 5.33398C14.711 5.33398 27.999 10.194 27.999 18.7233C27.999 27.2526 16.3857 25.298 14.0857 24.75C11.787 24.2007 6.66566 21.742 6.66566 19.1846C6.66566 17.3246 10.7723 16.0007 15.619 16.0007C20.4643 16.0007 22.6657 17.3887 22.6657 18.6673C22.6657 19.334 22.567 20.306 21.3323 20.6673" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M13.3604 10.666C13.2861 16.4436 13.2861 22.2218 13.3604 27.9993" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48035">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						БРЕНДИ
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="5">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48103)">
								<path d="M7.33302 4C8.09571 3.99992 8.84679 4.18677 9.52053 4.54419C10.1943 4.90162 10.7702 5.41873 11.1978 6.05027C11.6254 6.68181 11.8917 7.40853 11.9734 8.16682C12.055 8.92512 11.9496 9.69188 11.6664 10.4C10.3873 11.0713 9.28109 12.0297 8.43436 13.2C7.79304 13.3567 7.12578 13.3755 6.47665 13.2552C5.82753 13.135 5.2113 12.8783 4.66869 12.5023C4.12608 12.1263 3.66942 11.6394 3.32889 11.0738C2.98836 10.5082 2.77171 9.87685 2.69324 9.22135C2.61477 8.56586 2.67627 7.90117 2.87368 7.2712C3.07109 6.64123 3.39992 6.06032 3.83844 5.56683C4.27697 5.07334 4.8152 4.67851 5.4176 4.40842C6.02 4.13833 6.67285 3.99913 7.33302 4Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M24.6666 4C25.3259 4.00067 25.9775 4.14101 26.5786 4.41177C27.1796 4.68254 27.7165 5.07757 28.1538 5.57087C28.5912 6.06416 28.919 6.64452 29.1158 7.2737C29.3126 7.90289 29.3738 8.56663 29.2955 9.22119C29.2171 9.87576 29.001 10.5063 28.6613 11.0713C28.3216 11.6363 27.8661 12.1229 27.3247 12.499C26.7833 12.8752 26.1684 13.1324 25.5204 13.2537C24.8724 13.375 24.2061 13.3576 23.5653 13.2027C22.7192 12.0308 21.6129 11.071 20.3333 10.3987C20.0503 9.69061 19.9451 8.92399 20.0269 8.16588C20.1088 7.40777 20.3751 6.68125 20.8027 6.04989C21.2303 5.41853 21.806 4.90156 22.4796 4.54421C23.1532 4.18685 23.9041 4 24.6666 4Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M6.66406 18.6673C6.66406 19.893 6.90548 21.1067 7.37452 22.239C7.84356 23.3714 8.53105 24.4003 9.39773 25.267C10.2644 26.1337 11.2933 26.8211 12.4257 27.2902C13.5581 27.7592 14.7717 28.0006 15.9974 28.0006C17.2231 28.0006 18.4367 27.7592 19.5691 27.2902C20.7015 26.8211 21.7304 26.1337 22.5971 25.267C23.4637 24.4003 24.1512 23.3714 24.6203 22.239C25.0893 21.1067 25.3307 19.893 25.3307 18.6673C25.3307 17.4416 25.0893 16.228 24.6203 15.0956C24.1512 13.9632 23.4637 12.9343 22.5971 12.0677C21.7304 11.201 20.7015 10.5135 19.5691 10.0444C18.4367 9.5754 17.2231 9.33398 15.9974 9.33398C14.7717 9.33398 13.5581 9.5754 12.4257 10.0444C11.2933 10.5135 10.2644 11.201 9.39773 12.0677C8.53105 12.9343 7.84356 13.9632 7.37452 15.0956C6.90548 16.228 6.66406 17.4416 6.66406 18.6673Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48103">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Мультигерої
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="6">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48028)">
								<path d="M15.9977 6.66602H20.6644C22.4325 6.66602 24.1282 7.36839 25.3784 8.61864C26.6287 9.86888 27.331 11.5646 27.331 13.3327C27.331 15.1008 26.6287 16.7965 25.3784 18.0467C24.1282 19.297 22.4325 19.9993 20.6644 19.9993H13.331L7.97772 25.6353C7.5198 26.1175 6.91758 26.4377 6.26183 26.5478C5.60607 26.6578 4.93231 26.5518 4.34206 26.2456C3.75182 25.9394 3.27709 25.4497 2.9894 24.8502C2.70171 24.2508 2.61665 23.574 2.74705 22.922L4.92572 12.0247C5.22813 10.5133 6.0449 9.15339 7.23705 8.17639C8.42919 7.19939 9.92304 6.66565 11.4644 6.66602H15.9977Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M18.6641 20.0004L24.0907 25.7124C24.5477 26.1933 25.1484 26.513 25.8025 26.6236C26.4566 26.7342 27.1289 26.6296 27.7186 26.3257C28.3083 26.0218 28.7835 25.5348 29.073 24.9379C29.3625 24.341 29.4506 23.6663 29.3241 23.0151L27.1907 12.0391" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M10.6641 12V14.6667" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M9.33594 13.334H12.0026" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M18.6641 13.334H21.3307" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48028">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Ігрові набори для дітей
					</div>
				<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="7">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48020)">
								<path d="M8 25.3346C8 26.0419 8.28095 26.7202 8.78105 27.2203C9.28115 27.7204 9.95942 28.0013 10.6667 28.0013C11.3739 28.0013 12.0522 27.7204 12.5523 27.2203C13.0524 26.7202 13.3333 26.0419 13.3333 25.3346C13.3333 24.6274 13.0524 23.9491 12.5523 23.449C12.0522 22.9489 11.3739 22.668 10.6667 22.668C9.95942 22.668 9.28115 22.9489 8.78105 23.449C8.28095 23.9491 8 24.6274 8 25.3346Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M21.3359 25.3327C21.3359 26.0399 21.6169 26.7182 22.117 27.2183C22.6171 27.7184 23.2954 27.9993 24.0026 27.9993C24.7098 27.9993 25.3881 27.7184 25.8882 27.2183C26.3883 26.7182 26.6693 26.0399 26.6693 25.3327C26.6693 24.6254 26.3883 23.9472 25.8882 23.4471C25.3881 22.947 24.7098 22.666 24.0026 22.666C23.2954 22.666 22.6171 22.947 22.117 23.4471C21.6169 23.9472 21.3359 24.6254 21.3359 25.3327Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M2.66406 6.66667H5.9974L8.1734 13.196C8.70434 14.7892 9.72318 16.1749 11.0856 17.1568C12.4479 18.1386 14.0847 18.6669 15.7641 18.6667H19.3307C21.2757 18.6667 23.1409 17.8941 24.5162 16.5188C25.8914 15.1435 26.6641 13.2783 26.6641 11.3333C26.6641 9.38841 25.8914 7.52315 24.5162 6.14788C23.1409 4.77262 21.2757 4 19.3307 4H18.6641V12" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M8 12H26.6667" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M12 22.668L13.3333 18.668" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M21.3359 18.666L22.6693 22.666" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48020">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Для малюків
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="8">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48016)">
								<path d="M10.6667 21.332L8.73733 22.2974C8.51589 22.408 8.32963 22.5781 8.1994 22.7887C8.06918 22.9992 8.00013 23.2418 8 23.4894V26.6654H24V23.4894C23.9999 23.2418 23.9308 22.9992 23.8006 22.7887C23.6704 22.5781 23.4841 22.408 23.2627 22.2974L21.3333 21.332H10.6667Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.9996 4.00035L13.3329 8.00035L8.67825 10.8644C8.43079 11.0164 8.23976 11.2451 8.13418 11.5157C8.0286 11.7862 8.01426 12.0839 8.09333 12.3634C8.17241 12.6428 8.34057 12.8888 8.57225 13.064C8.80394 13.2391 9.08648 13.3338 9.37691 13.3337H13.3329L10.5689 21.3337H21.1836L21.3329 14.667C21.3329 10.667 19.8796 6.68968 15.9996 5.33369C13.4129 4.42969 12.0796 3.98569 11.9996 4.00035Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48016">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Розвиваючі іграшки
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="9">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48010)">
								<path d="M18.6641 5.33398H26.6641V13.334H18.6641V5.33398Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M5.33594 18.666H13.3359V26.666H5.33594V18.666Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M18.6641 22.666C18.6641 23.7269 19.0855 24.7443 19.8356 25.4944C20.5858 26.2446 21.6032 26.666 22.6641 26.666C23.7249 26.666 24.7423 26.2446 25.4925 25.4944C26.2426 24.7443 26.6641 23.7269 26.6641 22.666C26.6641 21.6051 26.2426 20.5877 25.4925 19.8376C24.7423 19.0874 23.7249 18.666 22.6641 18.666C21.6032 18.666 20.5858 19.0874 19.8356 19.8376C19.0855 20.5877 18.6641 21.6051 18.6641 22.666Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M5.33594 9.33398C5.33594 9.85927 5.4394 10.3794 5.64042 10.8647C5.84144 11.35 6.13608 11.791 6.50751 12.1624C6.87894 12.5338 7.3199 12.8285 7.8052 13.0295C8.29051 13.2305 8.81065 13.334 9.33594 13.334C9.86123 13.334 10.3814 13.2305 10.8667 13.0295C11.352 12.8285 11.7929 12.5338 12.1644 12.1624C12.5358 11.791 12.8304 11.35 13.0315 10.8647C13.2325 10.3794 13.3359 9.85927 13.3359 9.33398C13.3359 8.8087 13.2325 8.28855 13.0315 7.80325C12.8304 7.31795 12.5358 6.87699 12.1644 6.50556C11.7929 6.13412 11.352 5.83948 10.8667 5.63847C10.3814 5.43745 9.86123 5.33398 9.33594 5.33398C8.81065 5.33398 8.29051 5.43745 7.8052 5.63847C7.3199 5.83948 6.87894 6.13412 6.50751 6.50556C6.13608 6.87699 5.84144 7.31795 5.64042 7.80325C5.4394 8.28855 5.33594 8.8087 5.33594 9.33398Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48010">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						Конструктори
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="item group h-24 flex flex-col items-center p-2 bg-white border text-violet-600 border-violet-600 rounded-lg hover:bg-violet-600 ease-linear duration-300" data-item="10">
					<div class="mb-2">

						<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_1_48002)">
								<path d="M26.6693 4V17.3333C26.6693 20.1623 25.5455 22.8754 23.5451 24.8758C21.5447 26.8762 18.8316 28 16.0026 28C13.1736 28 10.4605 26.8762 8.46013 24.8758C6.45974 22.8754 5.33594 20.1623 5.33594 17.3333V4L9.91194 8.576C11.6983 7.32991 13.8246 6.66334 16.0026 6.66667C18.3613 6.66667 20.5399 7.432 22.3066 8.728L26.6693 4Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M2.66406 21.334H9.33073L3.9974 26.6673" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M29.3307 21.334H22.6641L27.9974 26.6673" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M14.6641 21.3333C14.6641 21.687 14.8045 22.0261 15.0546 22.2761C15.3046 22.5262 15.6438 22.6667 15.9974 22.6667C16.351 22.6667 16.6902 22.5262 16.9402 22.2761C17.1903 22.0261 17.3307 21.687 17.3307 21.3333C17.3307 20.9797 17.1903 20.6406 16.9402 20.3905C16.6902 20.1405 16.351 20 15.9974 20C15.6438 20 15.3046 20.1405 15.0546 20.3905C14.8045 20.6406 14.6641 20.9797 14.6641 21.3333Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M12 14.668V14.6813" stroke="#6F40DD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M20 14.668V14.6813" stroke="#6F40DD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</g>
							<defs>
								<clipPath id="clip0_1_48002">
									<rect width="32" height="32" fill="white"/>
								</clipPath>
							</defs>
						</svg>
					</div>
					<div class="text-xs text-center group-hover:text-white ease-linear duration-300">
						М'які іграшки
					</div>
					<a href="" class="absolute w-full h-full inset-0"></a>
				</div>
			</div>
		</div>
	</div>
</div>
