<div class="grid grid-cols-3 gap-5 pt-6 pe-2 pb-14 ps-14 overflow-y-auto max-h-600">

	<ul class="leading-loose">
		<li class="">
			<a href="">Бинокли и рации игрушечные</a>
		</li>
		<li class="">
			<a href="">Большие наборы для девочек</a>
		</li>
		<li class="">
			<a href="">Большие наборы для мальчиков</a>
		</li>
		<li class="">
			<a href="">Брелки</a>
		</li>
		<li class="">
			<a href="">Бытовая техника для детей</a>
		</li>
		<li class="">
			<a href="">Военные и полицейские наборы</a>
		</li>
		<li class="">
			<a href="">Детская косметика и бижутерия</a>
		</li>
		<li class="">
			<a href="">Детские мобильные телефоны,фотоаппараты</a>
		</li>
		<li class="">
			<a href="">Детские музыкальные инструменты</a>
		</li>
		<li class="">
			<a href="">Детский набор для рыбалки</a>
		</li>
		<li class="">
			<a href="">Животные игрушечные</a>
		</li>
	</ul>


	<ul class="leading-loose">
		<li class="">
			<a href="">Заводные игрушки</a>
		</li>
		<li class="">
			<a href="">Игровой набор Доктор</a>
		</li>
		<li class="">
			<a href="">Калейдоскопы</a>
		</li>
		<li class="">
			<a href="">Мечи, арбалеты, тиры</a>
		</li>
		<li class="">
			<a href="">Мяч попрыгун</a>
		</li>
		<li class="">
			<a href="">Наборы игрушечных инструментов</a>
		</li>
		<li class="">
			<a href="">Оптические приборы детские</a>
		</li>
		<li class="">
			<a href="">Оружие игрушечное</a>
		</li>
	</ul>


	<ul class="leading-loose">
		<li class="">
			<a href="">Палатки, корзины</a>
		</li>
		<li class="">
			<a href="">Пиратские и рыцарские наборы</a>
		</li>
		<li class="">
			<a href="">Посудка, игрушечные овощи и фрукты</a>
		</li>
		<li class="">
			<a href="">Приколы, слаймы, сквиши</a>
		</li>
		<li class="">
			<a href="">Роботы, трансформеры</a>
		</li>
		<li class="">
			<a href="">Шкатулки, копилки</a>
		</li>
		<li class="">
			<a href="">Светящиеся игрушки</a>
		</li>
	</ul>

</div>
