<div class="mobile-user-menu block xl:hidden transition-opacity duration-300 bg-black bg-opacity-40 fixed inset-0 z-50">
	<div class="bg-[#fffbf6] max-w-[320] md:max-w-[644] w-full py-5 h-full overflow-y-auto overflow-x-hidden">
		<div class="flex items-start px-5 md:px-10 mb-8">
			<div class="w-9 md:w-[72] h-auto">
				<img src="img/main-logo.png" alt="">

			</div>
			<div class="close-button w-8 h-8 ms-auto"></div>
		</div>
		<div class="flex items-center px-5 md:px-10 mb-7">
			<div class="w-10 md:w-16 h-10 md:h-16 flex items-center justify-center overflow-hidden shrink-0 me-3 md:me-4">
				<img src="img/icons/user-avatar-icon.svg" alt="" class="w-full h-full object-contain">
			</div>
			<div class="user-info-additional">
				<div class="flex mb-3">
					<button class="button-purple md:text-xl py-[6] md:py-2 px-4 md:px-7 rounded-lg me-2 md:me-3">Вхід</button>
					<button class="button-purple-transparent md:text-xl py-[6] md:py-2 px-4 md:px-7 rounded-lg">Реєстрація</button>
				</div>
				<div class="text-sm md:text-xl text-violet-400">Авторизуйтесь або зареєструйтесь</div>
			</div>
		</div>
		<a href="" class="flex px-5 md:px-10 py-4 bg-violet-600 mb-6 text-white items-center">
			<img src="img/icons/category-white-icon.svg" alt="" class="w-10 h-auto shrink-0 mr-4">
			Каталог товарів
		</a>
		<div class="px-5 md:px-10">
			<a href="" class="flex items-center md:text-xl mb-6">
				<svg width="32" height="32" viewbox="0 0 32 32" class="shrink-0 w-8 md:w-10 h-8 md:h-10 me-2 md:me-4 " fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10 13.5L16.25 6L22.5 13.5" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M27.5 13.5L25 23.5C24.8831 24.2165 24.5689 24.8591 24.1121 25.3159C23.6553 25.7727 23.0849 26.0147 22.5 26H10C9.41513 26.0147 8.84465 25.7727 8.38786 25.3159C7.93106 24.8591 7.61688 24.2165 7.5 23.5L5 13.5H27.5Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M13.75 19.75C13.75 20.413 14.0134 21.0489 14.4822 21.5178C14.9511 21.9866 15.587 22.25 16.25 22.25C16.913 22.25 17.5489 21.9866 18.0178 21.5178C18.4866 21.0489 18.75 20.413 18.75 19.75C18.75 19.087 18.4866 18.4511 18.0178 17.9822C17.5489 17.5134 16.913 17.25 16.25 17.25C15.587 17.25 14.9511 17.5134 14.4822 17.9822C14.0134 18.4511 13.75 19.087 13.75 19.75Z" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<div class="">Кошик</div>
				<div class="font-medium w-7 md:w-10 h-7 md:h-10 bg-[rgb(111,64,221)] bg-opacity-10 flex items-center justify-center rounded text-violet-800 ms-auto ">1</div>
			</a>
			<a href="" class="flex items-center md:text-xl mb-6">
				<svg width="32" height="32" viewbox="0 0 32 32" class="shrink-0 w-8 md:w-10 h-8 md:h-10 me-2 md:me-4" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M20.4805 8.41016H27.4805" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M4.59766 8.41016H11.5977" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M13.2813 22.7741C13.2813 26.6862 10.5949 29.8574 7.28122 29.8574C3.96753 29.8574 1.28125 26.6862 1.28125 22.7741M13.2813 22.7741H1.28125M13.2813 22.7741L7.28122 12.8574L1.28125 22.7741" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M30.9961 22.7741C30.9961 26.6862 28.3098 29.8574 24.9961 29.8574C21.6824 29.8574 18.9961 26.6862 18.9961 22.7741M30.9961 22.7741H18.9961M30.9961 22.7741L24.9961 12.8574L18.9961 22.7741" stroke="#6F40DD" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M15.9844 11.5234C18.1935 11.5234 19.9844 9.73258 19.9844 7.52344C19.9844 5.3143 18.1935 3.52344 15.9844 3.52344C13.7752 3.52344 11.9844 5.3143 11.9844 7.52344C11.9844 9.73258 13.7752 11.5234 15.9844 11.5234Z" stroke="#6F40DD"/>
				</svg>

				<div class="">Порівняння</div>
				<div class="font-medium w-7 md:w-10 h-7 md:h-10 bg-[rgb(111,64,221)] bg-opacity-10 flex items-center justify-center rounded text-violet-800 ms-auto">3</div>
			</a>
		</div>
		<div class="px-5 md:px-10 mb-8">
			<div class="md:text-xl font-medium mb-3">Зв'язатися з нами</div>
			<div class="ps-7 md:ps-9 md:pt-2 relative mb-3 ">
				<img src="img/icons/phone-icon.svg" alt="" class="absolute top-0 left-0 w-6 md:w-8 h-auto">
				<a href="tel:380636563681" class="text-sm md:text-base font-medium">+38 (063) 656 36 81</a>
				<div class="text-xs md:text-sm">Пн - Вс: 9.00 - 18.00</div>
			</div>
			<div class="ps-7 md:ps-9 md:pt-2 relative">
				<img src="img/icons/mail-icon.svg" alt="" class="absolute top-0 left-0 w-6 md:w-8 h-auto">
				<a href="mailto:toys4you@gmail.com" class="text-sm md:text-base font-medium">toys4you@gmail.com</a>
			</div>
		</div>
		<div class="flex items-center px-5 md:px-10  ">
			<span class="me-8 text-gray-500">Мова</span>
			<div class="flex items-center">
				<a href="" class="text-sm me-2 px-2 py-1">РУС</a>
				<a href="" class="text-sm me-2 px-2 py-1 rounded  bg-violet-600 text-white">УКР</a>
			</div>
		</div>
	</div>
</div>
